[2015-06-12 13:14] travs opened #6 "Error importing jnml from nml"
When I try to run `from neuronunit.nml import jnml` I get an import error, to do with LEMS.

This seems to be because [LEMS/run.py](https://github.com/LEMS/pylems/blob/master/lems/run.py) has no `run` function. Maybe I am using the wrong version of pylems?

@rgerkin
[**Full output**](http://hastebin.com/ipahimiboh.python)

[2015-06-13 01:17] rgerkin commented on #6
@travs Fixed in rgerkin/neuronunit but scidash/neuronunit is still behind.  I will manually merge this later as we both independently added setup.py scripts (I accepted your pull request and patch scidash/neuronunit soon with my other commits).

[2015-10-20 20:11] #6 closed

[2016-05-19 22:21] JustasB opened #11 "inject_current interface needs to be standardized"
The [ReceivesCurrent](https://github.com/scidash/neuronunit/blob/dbee6e6c91813af5766a6bd83e932bda0bd91d1a/neuronunit/capabilities/__init__.py#L88) capability defines an interface method inject_current, which expects the _current_ parameter to be a neo.core.AnalogSignal.

[code]
However, all of the other classes and examples pass in dictionary objects instead, whose keys and values vary across mode

[2016-05-19 22:32] JustasB commented on #11
Why is this a problem: In the current situation, different types of models would have to specify the same current injection protocol in slightly different parameter formats. If the interface was standardized then a suite of models and current injection requiring tests could reuse the same current parameter.

Furthermore,  if everyone follows the defined interface, then when developing new models,

[2016-05-20 18:14] rgerkin commented on #11
@JustasB I agree, a dictionary with the keys you specified is what I ultimately ended up using for everything else, and I failed to fix those other things.  I will take care of that now.

[2016-05-20 18:44] rgerkin commented on #11
Fixed in d804608 and cf24c7a.  I ended up making inject_current take an AnalogSignalArray, and inject_square_current take a dictionary.

[2016-05-20 18:49] JustasB commented on #11
Awesome, thank you

[2016-05-20 18:50] rgerkin commented on #11
Couple of bug fixes left to work out...

[2016-05-20 18:58] rgerkin commented on #11
OK, everything seems to run now, at least in the Izhikevich model notebook.

[2016-05-20 19:02] rgerkin commented on #11
And in the Travis tests.

[2016-05-20 19:02] #11 closed

[2016-05-24 22:04] rgerkin opened #13 "Create weighted, pooled summary observations"
This will require:
- [ ] a new subclass of `neuroelectro.NeuroElectroData` corresponding to these weighted summaries
- [ ] a new `neuroelectro_pooled_observation` method for `tests.VmTest`

These should use the API to take each `NeuroElectroDataMap`, and compute a weighted mean, with the weights proportional to the reciprocal of the squared standard error.  Note that the reported SD for a given da

[2016-05-25 01:28] JustasB commented on #13
Hmm, it looks like the API does not disambiguate SEs from SDs. From @stripathy:

[2016-05-25 01:52] stripathy commented on #13
Good point @JustasB - I'll add a field to the api that allows you to disambiguate whether the errors are SD or SEM.

[2016-05-26 21:13] JustasB opened #15 "Standardize indentation across all .py files"
Python is a white-space sensitive language and mixing tabs with spaces for indentation results in syntax errors. We should agree on a convention for indentation, and use it throughout.

I propose that we use "4 spaces per indentation level" for all python files. E.g. one 1 TAB = 4 SPACES.

Using spaces will result in unambiguous indentation, while tabs may be system dependent. The popular code edi

[2016-05-27 00:29] rgerkin commented on #15
@justasb I agree, I think Cyrus has been using 2 spaces in some cases and I never converted it over.  If you want to run every file through an automated PEP-8 stylizer, or do it manually, go for it.

[2016-05-27 16:09] cyrus- commented on #15
Yeah I'm not sure why I used 2. Feel free to change.

On Thu, May 26, 2016, 20:29 Richard C Gerkin <notifications@github.com>
wrote:

[2016-05-27 21:13] JustasB commented on #15
This has been implemented in the PR above

[2016-05-27 21:13] #15 closed

[2016-05-28 15:33] JustasB commented on #13
@stripathy Let us know when the SD/SEM flag is ready -- I have everything in place on our side to look for the flag.

However works for you, but it would work for me if it was something along the lines of:

![screen shot 2016-05-28 at 8 28 35 am](https://cloud.githubusercontent.com/assets/10732358/15628139/b7d0c07e-24ae-11e6-9fa2-bbe88f622ca6.png)

[2016-05-28 16:07] rgerkin commented on #13
@JustasB @stripathy I implemented most of the API so I think it might be faster if I figure this one out (unless you have someone on it already, Shreejoy), but it will probably have to wait a few days.

[2016-05-28 16:15] JustasB commented on #13
Sounds good guy, whatever works for you

[2016-05-28 18:08] stripathy commented on #13
Hi @rgerkin and @JustasB - I'll take care of this tomorrow before leaving town. It's super simple on my end, I just need to add a field to the DB indicating what the error type is and then do a migration.

[2016-06-06 23:55] stripathy commented on #13
I just implemented this feature as requested. You'll now see a field called "error_type" on nedm data objects indicating the error type. http://dev.neuroelectro.org/api/1/nedm/?n=129

Please note that we're using a computational method to "guess" what the error type is (based on the size of the errors relative to the mean across all the data extracted for each article) vs manually curating whether

[2016-06-07 22:46] JustasB commented on #13
Thanks @stripathy

For the error type, when I looked at the MC data, the err or err_norm value (if existed) always corresponded to the SEM. However in the API, its not always SEM. Thoughts?

This is where I talk about it always being SEM:

https://github.com/neuroelectro/neuroelectro_org/issues/290#issuecomment-222321866

[2016-06-14 16:29] JustasB opened #18 "AP width computation issue"
Currently, the AP half-width is computed by taking a 10ms window around an AP and:

1. Finding the maximum membrane v
2. The [minimum](https://github.com/scidash/neuronunit/blob/dbee6e6c91813af5766a6bd83e932bda0bd91d1a/neuronunit/capabilities/spike_functions.py#L83) v
3. Counting the samples where v is above mean(min,max)

Should #2 be using the v of the AP threshold? According to [NE definition](

[2016-06-20 23:39] rgerkin commented on #18
Yes, I think this is a shortcut on my part because at the time the AP threshold values in Neuroelectro were unreliable and using the minimum instead of the threshold didn't make a huge difference, so I was willing to introduce a small bit of systematic error to exclude a large amount of random error.

I think the threshold measurements are reliable enough that they can be used now.  Also, there is

[2016-06-21 21:22] rgerkin commented on #18
@JustasB Fixed with 006143e.

[2016-06-21 21:22] #18 closed

[2016-07-03 05:44] JustasB opened #20 "merge dev into master branch and release?"
Hi @rgerkin ,

May I merge the dev branch into master branch? My talk is in about 20 hours, and I would like the latest version available for download.

-Justas

[2016-09-07 21:44] rgerkin opened #22 "Change setup.py to use neo==0.4"
Neuronunit doesn't work with neo 0.5 yet.

[2016-09-22 22:20] rgerkin opened #23 "MOOSE support"
Support for basic capabilities of the MOOSE simulator: https://moose.ncbs.res.in/

[2016-09-22 22:58] rgerkin opened #24 "ModelDB interface"
Create interface for NEURON models on ModelDB.  Many of these models have basic configuration described in a JSON file associated with "ModelView".  Described in the paper linked here: https://senselab.med.yale.edu/modeldb/showModel.cshtml?model=154872

[2016-09-22 23:31] rgerkin opened #25 "Add test factories for Blue Brain data"
The Blue Brain data at the [NMC Portal](https://bbp.epfl.ch/nmc-portal/welcome) is mostly available in Igor binary wave format.  Neo now has an IgorIO module, so it should be possible to get this data into Neo and then use it to build tests.

[2016-09-26 02:38] rgerkin opened #26 "Establish source for consistent NeuronUnit capability names"
Possibilities:
[Mozaik](https://github.com/antolikjan/mozaik/blob/master/mozaik/experiments/__init__.py)
[PyNN](https://github.com/NeuralEnsemble/PyNN/tree/master/pyNN/common)

[2016-09-26 02:44] rgerkin opened #27 "PyNN support"
Support for models described in [PyNN](https://github.com/NeuralEnsemble/PyNN)

[2016-09-26 06:34] rgerkin opened #28 "Add Docker file that will be able to run all examples"
Use Docker to create a reproducible environment with all dependencies required to run some of the more sophisticated examples involving NEURON, MPI, etc.  Related to work that @russeljjarvis is doing [here](https://github.com/russelljjarvis/Docker_Python3_jNeuroML/).

[2016-10-17 20:40] rgerkin commented on #25
https://collab.humanbrainproject.eu/

[2016-10-17 20:41] rgerkin opened #29 "Create documentation examples that work in MyBinder"
http://mybinder.org/

Probably will rely on #28

[2016-10-18 05:44] rgerkin opened #30 "Add Generalized IF neuron, and optimizations thereof"
http://dx.doi.org/10.1371/journal.pcbi.1004275

[2016-10-18 05:51] rgerkin opened #31 "Derive tests from metadata-specified NeuroElectro data"
Instantiate test that either:
1) Use only data matching certain metadata criteria
or
2) Impute data (from other existing data with different metadata) based on specified metadata (will require progress on [this](https://github.com/neuroelectro/neuroelectro_org/issues/333)

[2016-11-23 02:39] russelljjarvis opened #32 "Problems replicating AIBS.ipynb on dockerimage: aibs.py"
The file aibs.py https://github.com/scidash/neuronunit/blob/dev/neuronunit/aibs.py#L20

Contains the following lines:
[code]

However the allenbrainsdk has changed and now the lines should read:

[code]

Notice also in the above I used:
`sweep_ids=cmd['rheobase_sweep_id']`
Not
`sweep_id=cmd['rheobase_sweep_id'][0]`

If I use `sweep_id=cmd['rheobase_sweep_id'[0]`
Then no `sp['id']==i` in subsequent

[2016-11-23 02:54] russelljjarvis opened #33 "replicating AIBS.ipynb: key errors in /neuronunit/models/reduced.py"
Hi @rgerkin,

I converted the ipynb file to a regular python file `AIBS.py` and execute that file. The error calls when I try to invoke sciunit judge https://github.com/russelljjarvis/sciunitopt/blob/master/AIBS.py#L146
[code]
As you can see the `AIBS.py f`ails at `suite.judge(model)`. At first I thought that problem was in `LEMS_2007One.xml`
because when I run `model.results.keys()`. After I run

[2016-11-29 00:11] russelljjarvis opened #34 "`from channel_worm` has changed to `from channelworm`: see pending pull request which will fix"
Self explanatory
https://github.com/scidash/neuronunit/blob/master/README.md#L30

[2016-11-30 18:28] russelljjarvis opened #37 "Docker build NU replication of AIBS.ipynb scipy/optomize/minpack is given parameters it can't optomize."
In an attempted docker build replication of the AIBS notebook scipy/optomize/minpack is given parameters it can't optimize.

See the error messages below:

  check_error = suite.judge(model)
  File "/opt/conda/lib/python3.5/site-packages/sciunit/__init__.py", line 430, in judge
    deep_error=deep_error)
  File "/opt/conda/lib/python3.5/site-packages/sciunit/__init__.py", line 302, in judge
    ra

[2016-11-30 19:20] russelljjarvis opened #38 "PyNeuroML->JNeuroML->NEURON is very slow."
Could this process be sped up? Can we stop NMODL mechanisms being re-compiled on subsequent invocations of NEURON?

[2016-12-01 12:34] pgleeson commented on #38
@russelljjarvis There are some optimisations that are there already in this pipeline, e.g. if jNeuroML generates a string for a mod file that is identical to an existing file, it doesn't write it and so nrnivmodl doesn't need to recompile it. This doesn't work if the code gets generated into a new directory every time though..

Do you have a short script example that shows what you need to do and

[2016-12-01 18:10] russelljjarvis commented on #38
I didn't expect to actually get an answer and I didn't realize this was actually an active area of development. Basically I am trying to replicate some of [this](https://github.com/rgerkin/IzhikevichModel/blob/master/AIBS.ipynb) notebook using a dockerbuild that is underdevelopment.

Its probable that jNeuroML generates a string for a mod file that differs from previous runs, and I just didn't und

[2016-12-01 21:01] rgerkin commented on #38
@russelljjarvis @pgleeson Unfortunately I think currently I am using the LEMS template to write a new file into a new directory each time.  The code for generating the random temp directory is here:
https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/__init__.py#L54
I don't know if this is what is meant above, but it could probably be sped up by caching hashes of some of the previousl

[2016-12-01 21:06] rgerkin commented on #33
Something like your fix attempted in 5c94837

[2016-12-02 19:20] russelljjarvis commented on #38
Yes, thats what I meant. I will pursue it in the future.

[2016-12-05 22:10] rgerkin opened #39 "Add caching for AIBS/NeuroElectro API calls"

[2016-12-05 22:10] rgerkin commented on #39
Added for AIBS in 381d8e4

[2016-12-06 10:33] pgleeson commented on #38
Possible ways to speed it up would be to restructure so the code gets written into the same temp directory (only possible if one run will be fully finished /analysed before another runs) and that the same LEMS file is used every time, with just a change in the nml files. Then if the channel files are the same in subsequent runs the mod files won't be rewritten and nrnivmodl will run faster.

Alter

[2016-12-08 22:17] rgerkin opened #40 "Autogenerate documentation"
Sphinx, etc.

[2016-12-08 22:32] rgerkin opened #41 "Speedup for NEURON simulations"
We want to speed up the simulations.   In `neuronunit/models/__init__.py` we have the `LEMSModel` class.  I have added a new `backends.py` file which will contain different stimulation backends to be used with `LEMSModel`, i.e. the `LEMSModel` will always still be instantiated using a path to LEMS file, but some of the operations on it can then be done either to the file, or to some representation

[2016-12-10 07:41] rgerkin opened #42 "Wrap all documentation tests into unittest"

[2016-12-12 17:56] russelljjarvis opened #43 "code stubs."
So I think the code stubs you made for me to complete are here:
https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/backends.py

But that I also may need to massage these files:
https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/reduced.py

https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/__init__.py

Also I will test out reproducing AIBS.ipynb soon such

[2016-12-12 19:25] rgerkin commented on #43
Yes, you shouldn't really need to change `__init__.py`, but let me know if you do.  As for `reduced`, I think you can add a version of `ReducedModel` that uses the `NEURONBackend`, but I am going to work on making it so the backend is something you can pass to the constructor.

[2016-12-12 22:14] russelljjarvis commented on #43
Okay, as usual I found it easier to write a template outside the class definitions.

Starting from the environment defined by the AIBS.ipynb import statements. If you insert this code near the top it will:

1. As a once off, translate the neuroml file LEMS_2007One.xml  to a NEURON simulation in a python file.

2. Loads the contents of the file into memory (initializes the model).

3. Provides a wa

[2016-12-13 00:14] russelljjarvis commented on #43
Basic idea is demonstrated here:
https://github.com/russelljjarvis/IzhikevichModel/blob/dev/AIBS_fast.ipynb

[2016-12-14 02:26] russelljjarvis commented on #43
This file is part of the way there:

https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/backends.py

I am trying to get your file Optimization.ipynb to work by calling NEURON as discussed. But its a lot of work actually.

I converted the notebook to a plain *.py file and its located in the directory below

My current build pattern uses the dockerfile here:
https://github.com/russellj

[2016-12-14 20:04] russelljjarvis commented on #38
Yes I am taking the approach described in your second paragraph. I think it is much faster so far, the only problem is making this work in a way that can generalize to other models
For example the file that is made by JNeuroML: ```LEMS_2007One_nrn.py```
makes the current electrode source:

[code]
I wonder if the variable for a current source in the pyhoc generated by jNeuroML will always start wit

[2016-12-14 21:34] rgerkin commented on #38
@russelljjarvis
Have you looked at the things Justas did in `neuronunit/neuron`?  That was originally done to allow him to run things directly in NEURON (and not via jNeuroML), but it would be worth taking a look at to avoid duplicating too much effort.

Also I implemented dynamic selection and switching of backends in 17ec613.

[2016-12-14 21:40] rgerkin commented on #43
I added dynamic specification of backends in 17ec613.

You shouldn't be reimplementing things like `get_spike_train` or `get_spike_count` in your `NEURONBackend`.  These should be simulator-independent things that only rely on simulator-dependent things like `get_membrane_potential`.  Once you implement the latter, you should get the former for free, provided that your `get_membrane_potential` adh

[2016-12-14 21:56] russelljjarvis commented on #43
Yes, you are right there is no reason why not to use `self.neuron.hoc.execute` instead of `eval(string)`. I have heard that using pythons reflection is bad design so I will change it over. My reason was only that it was a fast and dirty approach that worked faster at the time. Thats great about dynamic specification of backends. I will change the code such `get_spike_train` and `get_spike_count` a

[2016-12-14 23:04] russelljjarvis commented on #38
Oh No! I have not looked. I hate duplication of effort. I will look now.

[2016-12-14 23:50] russelljjarvis commented on #43
It can pass the Rheobase test now (but without using inheritance properly dynamic specification). I will pull your changes. Merge and fix this inheritence issue. Also I will replace as much of my code as possible with Justa's implementation, since his code is quiete good.

[2016-12-14 23:59] russelljjarvis opened #44 "off by one type error."
I was wondering if you could enable issues for [your IzhikevichModel](https://github.com/rgerkin/IzhikevichModel/blob/master/Optimize.ipynb) repository:

``

This is 7 Elements for `nu_tests`
[code]
So I think the nested clause should read  `for i in [4,5,76]:`
[code]

Also different minor fix in the same file:
Technically using neuron as a variable name works out fine in the below:
```neuron = {'

[2016-12-15 23:08] russelljjarvis commented on #43
Hi @rgerkin , In response to

https://github.com/russelljjarvis/neuronunit/blob/dev/neuronunit/software_tests/Optimize.py

I have merged those changes, and re-factored the code such ```NEURONBackend``` inherits from ```ReducedModel``` And then I made everything work again, so it does optimization now of the ```Rheobase test``` again except via NEURON.

There were a few problems and issues that com

[2016-12-16 04:38] rgerkin commented on #44
@russelljjarvis
But the rheobase test gets prepended to that, becoming item 0, so I think the current numbering is correct.

[2016-12-16 04:38] rgerkin commented on #44
Issues enabled.

[2016-12-16 16:55] russelljjarvis commented on #44
Yes you are right, I was confused because I had edited out one of the list elements without updating the for loop, and forgetting that I had made those changes at all.

[2016-12-16 16:56] #44 closed

[2016-12-17 18:47] russelljjarvis opened #45 "Performance polling and timing of backend NEURON"
use pythons `time` module and or other modules to compare `backendNEURON` versus `backendJneuroML`

to check for speed up.

Tweak GA parameters and plot error functions for the pareto front population.

[2016-12-20 19:20] russelljjarvis opened #46 "Scoop build broken and does not work."
The dockerbuilds installation of scoop does not pass its own tests.

It cannot distribute tasks in a genuinely parallel manner, but this seems to be a problem with the source code itself.

Alternatives candidates mpi4py and Ipython-parallel as used in bluepyopt.

Need to email scoop mailing list to try to resolve problems.

[2016-12-21 04:00] rgerkin commented on #45
There is a good timing profiler that I used recently.  I think it is [this](https://github.com/rkern/line_profiler) one.

[2017-01-27 22:47] rgerkin opened #47 "Documentation is broken in dev branch"

[2017-02-06 04:46] rgerkin commented on #43
@russelljjarvis
Is this still an issue for you?

[2017-02-06 04:58] russelljjarvis commented on #43
Sort of yes and no. It no longer generates the curve fiitting error cited above, as I fixed the code with some [hacks](https://github.com/russelljjarvis/neuronunit/blob/compare_justas/neuronunit/tests/__init__.py#L239-L253), where I added missing `compute_score` methods to the TimeConstant test and CapacitanceTest classes.

And [here]([hacks](https://github.com/russelljjarvis/neuronunit/blob/compa

[2017-02-06 16:00] russelljjarvis commented on #43
I will create a new issue for it on my branch.
Also I am not sure if you noticed but I did complete your speed up time ___
stubs. However what I wrote may have been buried in a lot of other thoughts too.

[2017-02-06 19:08] russelljjarvis opened #48 "getting data back off travis."
Hi @rgerkin
I am trying to do a 5 parameter exhaustive search to use as ground truth against GA optimization results.

`param=['a','b','vr','vt','v_peak']` I guess each parameter has 10 points meaning it samples over 10^5 points in parameter space. Even doing this in parallel on my local machine takes too long (obviously).

I am wondering if its possible to do it on travis in a way that the result

[2017-02-06 20:11] #46 closed

[2017-02-06 20:12] #48 closed

[2017-02-06 20:12] #45 closed

[2017-02-06 20:13] #41 closed

[2017-02-06 20:13] #38 closed

[2017-02-28 20:22] russelljjarvis commented on #37
If this proves not to be an artifact of exclusively my code/contributions then it is probably caused by the factor of 10 error in the `get_tau` method of file neuronunit/tests/__init__.py

[2017-02-28 20:23] russelljjarvis commented on #33
I believe we resolved this one ages ago.

[2017-02-28 20:23] #33 closed

[2017-02-28 20:24] russelljjarvis commented on #32
I think this got resolved too.

[2017-02-28 20:24] #32 closed

[2017-02-28 20:24] russelljjarvis commented on #34
This was probably a python3 thing, that I believe is now fixed.

[2017-02-28 20:24] #34 closed

[2017-02-28 20:27] russelljjarvis commented on #27
As would facilitate using [SpiNNaker](http://ieeexplore.ieee.org/document/6889876/?reload=true) to speed up optimization.

[2017-02-28 20:34] rgerkin commented on #37
@russelljjarvis I am having difficulty locating a cause of the factor of 10 issue.  A factor of 1000 would be attributable to wrong choice of units (e.g. pA vs nA), but a factor of 10 is hard to fathom.

[2017-02-28 20:48] russelljjarvis commented on #37
If this is only occurring in my NEURON implementations, and not your older `AIBS.ipynb` notebooks which used JNeuroML/LEMSmodel the old way, its probably something wrong with my implementation between the files:

https://github.com/russelljjarvis/neuronunit/blob/dev/neuronunit/tests/NeuroML2/LEMS_2007One_nrn.py#L138-#L172

https://github.com/russelljjarvis/neuronunit/blob/dev/neuronunit/models/bac

[2017-02-28 21:00] russelljjarvis commented on #37
bump.

[2017-02-28 22:33] rgerkin commented on #37
As you said, I could easily imagine that the error might have been introduced with the NEURON implementation by not taking into account the size of the time step, which might have been something like 0.1 ms but was taken to be 1 ms.  I was getting reasonable scores with default model parameters in my original implementation that just ran through jNeuroML.

[2017-02-28 23:16] russelljjarvis commented on #37
Yes, I believe it. I will try to address this soon.

Actually regarding your original code, I tried to revisit it about 2 months ago, by visiting all the really old commits in the AIBS.ipynb.

I never did manage to get the original back, because it requires matching up the older AIBS.ipynb with the older scidash/neuronunit

But running the original is something I would find useful too, also so I c

[2017-03-04 02:29] russelljjarvis commented on #37
Alright so I tried addressing this this issue.

Its true that making adjusting dt from `0.0025ms` to `0.025ms` removes the need to divide by 10, but the actual NeuroML/XML code everything is derived from specifies a time step of `0.002ms`

<Simulation id="sim1" length="1600ms" step="0.0025ms" target="net1">

Voltage traces from `dt=0.025ms` look realistic to me however, and everything runs 10* fas

[2017-03-05 04:45] russelljjarvis opened #50 "Add sanity check for NaN values to neuronunit test class"
The exhaustive search exposes parameter values that lead the membrane potential towards `+np.inf` (actually nan) I was thinking of creating a test sub class that just checks if current injections will lead to nan values, and then it just returns something like `test=tests.sufficientData('None')` for possibly all of the subtests that involve current injection.

The alternative is to add extra excep

[2017-03-06 18:17] rgerkin commented on #50
There are several score types that can be used when for various reasons there is not going to be a useful score:

[code]

You can read all the docstrings for those, but I think `InsufficientDataScore` is probably the one you want.  `ErrorScore` is more for uncaught code execution errors, `NoneScore` and `NAScore` related to capabilities, and `TBDScore` for skipped tests.  So you would just return

[2017-03-07 00:02] russelljjarvis commented on #50
Okay, this is great. The code neuronunit code is already very mature.

Although previously I described how scoop needs objects to be pickeable, and that the neuronunit test class is not pickleable, and as a consequence I cannot rewrite the Rheobase test class, in a nice Object Orientated way (and for it to be parallel at the same time).  Its still largely true that it would be difficult or impossi

[2017-03-07 00:08] rgerkin commented on #50
You can write a script to try to recursively pickle the Test, via it's `__dict__` attribute, and consequently determine what are the parts that cannot be pickled.  Let me know if you need any help with that.

[2017-03-07 00:13] russelljjarvis commented on #50
I don't think it will be hard to achieve. Its more just finding the time to do it. Its currently not an obstacle for solving the optimization problem, or the exhaustive search, its just a medium/long term goal that would make my implementation simpler and more maintainable.  I will work on it next week and i will let you know if I can't isolate it to the neuron Vectors in the `related_data` attrib

[2017-03-16 19:55] rgerkin opened #52 "Neuronunit Tests Dockerfile -> Showcase"
@russelljjarvis
I would like to move/copy the contents of the `scidash/neuronunit/tests/Dockerfile` to `scidash/docker-stacks/neuronunit-showcase`.  The ideas is that `neuronunit-showcase` will be an environment that can run all the richer features of `neuronunit`.  Eventually these can be considered "core" features (after some more thorough testing).

[2017-03-17 15:14] russelljjarvis commented on #52
Great, yes I am all for it of course. I need to start working on the abstract and seminar presentation about this work. So I think my emphasis will need to change to plotting some of the outputs temporarily.

But I still think I should try to get all of this to run on the NSG using the Singularity. For the nsga.py file it actually has nested parallelism (and thus better CPU utility), I believe tha

[2017-03-17 15:47] russelljjarvis commented on #52
I want to be able to get both `exhaustive_search.py` and `nsga.py`

To return the actual score_matrix pandas data type (instead of the floats I gleaned out of it). This is because I want to be able to use the plot_function in bind score, or to be able to use matplotlib to plot related data (as it would be nice to actually see the Vm's that are output from these optimizations.

I have destroyed som

[2017-03-17 22:26] rgerkin opened #54 "Testing of ion channel models from Podlaski et al"
[This paper](https://elifesciences.org/content/6/e22152) has a pipeline for comparing ion channel models to each other and to experimental data.  Can this pipeline be wrapped in or refactored to use NeuronUnit?

[2017-03-17 22:50] russelljjarvis commented on #54
Yes I looked through the paper, but I couldn't find any associated github repositories. When I really want to find the code that was used to build a paper, I often google search 'authors name, github'. I might do that later.

[2017-03-17 23:07] rgerkin opened #56 "Deduplicate and Refactor optimization code"

[2017-03-18 01:22] russelljjarvis commented on #56
I m not exactly sure, but I think I may have addressed moving duplicate rheobase search code from nsga.py -> exhaustive_search.py. The greater problem is how to package it up as a Neuronunit test object inside tests/__init__.py still remains.

[2017-03-18 17:28] russelljjarvis opened #57 "Puttting a Sanity Test/NaN test Method inside VmTest class tests/__init__.py"
If the NaN test method method is defined inside `VmTest` then it can be called in the final line of the code block displayed here (an excerpt from `get_neab.py`)

[code]

The next task would be finding a way that simulation data outputs that were used to established the model is sane are then utilized instead of redone in order to speed up optimization times.

[2017-03-18 19:41] russelljjarvis opened #58 "changes to backends.py results in cryptic error."
When I revert the below lines back to their previous state this error goes away.
[code]
https://github.com/scidash/neuronunit/commit/274dd194209b8158428437ca9a2f598271e4398d
[code]

[2017-03-25 17:08] russelljjarvis commented on #56
Hi @rgerkin, when we had the meeting in person the Friday a week and a day ago. You mentioned an approach to putting the Rheobase method back inside the tests/__init__.py collection of neuronunit test classes. What was that approach again? I feel like that will be the ultimate way to deduplicate code should it work.

[2017-03-28 20:20] #57 closed

[2017-03-28 21:01] rgerkin commented on #54
The API is detailed [here](https://icg.neurotheory.ox.ac.uk/api/#!/chs/App_Channel_traces).  We can use this to programmatically get traces used to define tests for ion channels.

[2017-03-29 00:09] russelljjarvis opened #59 "pickle dump(s) neuronunit score type does not work, writes empty files/strings"
The command: ```pprint(score.__dict__)```

Yields:
[code]

In the NEURON specific instance of this problem:
[code]
returns a long string, however:

[code]
The results types are correct:
[code]
Resetting the hoc object to none of the model does not help.
[code]
(Pdb) pickle.dumps(get_neab.suite.tests[0].last_model)
*** TypeError: HocObject: Only Vector instance can be pickled
Completely destroying

[2017-03-29 21:41] russelljjarvis opened #61 "After merging from scidash can't find the file where the code for score.unpickleable draws from"
Hi @rgerkin
After merging from scidash can't find the file where the code for score.unpickleable draws from. Was it git added?

If you scroll down to the last lines of stdout on the corresponding scidash travis build you can see the same errors:

https://travis-ci.org/scidash/neuronunit/builds/216206049

[code]
.  AttributeError: 'RatioScore' object has no attribute 'unpicklable'
[code]

[2017-03-29 22:09] rgerkin commented on #61
@russelljjarvis
It/you must not be using the newest version of SciUnit.  `unpicklable` is an attribute of every score as of yesterday.  In Travis it should be using it, since it does a normal `python setup.py install` which will use neuronunit's `setup.py` to install from the dev tarball.  For your docker instance I'm not sure, but you might want to check.

[2017-03-29 22:09] rgerkin commented on #59
@russelljjarvis
Is this fixed now?

[2017-03-29 22:25] russelljjarvis commented on #61
AOK. Just noticed this update. I forgot to rebuild the Dockerfile, such that sciunit pulls from latest. Will try that now.

[2017-03-30 03:25] russelljjarvis commented on #59
Yes it works :)

[2017-03-30 03:25] #59 closed

[2017-03-31 00:36] russelljjarvis opened #62 "Bug re-introduced with merge in pull request."
This line:
https://github.com/scidash/neuronunit/blob/master/neuronunit/tests/__init__.py#L180
Notice that in my version below ```y``` is cast to quantities `pq.ms` as well as `x-offset`.
Should read.
[code]
I corrected this a while ago but I merged this error back in by accident after auto-merging from the merge that resulted from the pull request.

[2017-03-31 00:50] russelljjarvis commented on #61
After upgrading my docker build to reflect sciunit changes in scidash/sciunit +b dev:
[code]

[2017-03-31 04:18] rgerkin commented on #61
@russelljjarvis
Did you rebuild the images using the `build-all` script?  If not, it might just be using the cached sciunit instead of the new one.

[2017-03-31 04:21] rgerkin commented on #61
For reference, `unpicklable` comes from [here](https://github.com/scidash/sciunit/blob/dev/sciunit/__init__.py#L43).  Every `model`, `test`, and `score` inherits from this class and calls its constructor so every model, test, and score should have this attribute *unless* you use are using a `model`, `test`, or `score` with its own constructor that doesn't call one of the parent constructors.

[2017-03-31 04:23] rgerkin commented on #62
@russelljjarvis
Are you just noting that you corrected it, or do you want me to correct it?

[2017-03-31 17:41] russelljjarvis commented on #62
Both. I corrected it my branch and remote, but it may still exist in scidash.

[2017-03-31 19:06] rgerkin commented on #62
@russelljjarvis
i.e. it is in the russell_dev branch but not the dev branch at scidash?

[2017-03-31 20:46] russelljjarvis commented on #62
Oh I see you are trying to get a reference to where it is fixed in code, where as I have only given reference to where it is broken.
To be clear its broken on scidash /dev, and master:
https://github.com/scidash/neuronunit/blob/dev/neuronunit/tests/__init__.py#L215
https://github.com/scidash/neuronunit/blob/master/neuronunit/tests/__init__.py#L180

Its only reverted to my old fix in the following

[2017-04-01 00:03] rgerkin commented on #62
@russelljjarvis I looked more closely at this and there are some other bugs.  For example, it makes no sense that `y` is being multiplied by `pq.ms` because `y` is a voltage.

So I've developed a recipe for making sure that the time constant is calculated correctly, shown [here](https://github.com/scidash/neuronunit/blob/dev/unit_test/time_constant.ipynb).  If you replace the methods in `TestPulse

[2017-04-01 00:20] russelljjarvis commented on #62
Sounds good. Some of my fixes are based on satisfying syntax requirements without much understanding of the purpose of the function and what it is trying to solve.

[2017-04-03 06:19] rgerkin commented on #40
[http://neuronunit.readthedocs.io](http://neuronunit.readthedocs.io)

[2017-04-03 06:19] #40 closed

[2017-04-07 17:32] russelljjarvis opened #63 "Idea for even greater speed up on NSG"
@rgerkin

When you think about it, all the tests in suite judge should be run in parallel, since they are all a bit slow and often involve more simulations/current injections.

The general idea is
[code]
Should be replaced with:

[code]
Whether or not this works probably depends on if we have really succeeded in making neuronunits test __init__.py object pickable, but its something you should look

[2017-04-07 21:00] russelljjarvis commented on #63
The following pattern works when called in serial (using fall back to regular python map). It does not work in parallel due to the error below:
[code]
stderr
[code]

[2017-04-07 21:38] rgerkin commented on #63
Before going any further in this direction, I want to understand why we should expect parallelizing the inside of the test suite to confer any advantage over just parallelizing the parameter search, given a fixed number of cores.  Is there any reason to think that cores are sitting around unused if we don't parallelize inside the test suite?

As for the error, I can only imagine it results from th

[2017-04-08 00:29] russelljjarvis commented on #63
Its not happening in serial because its only parallel mapping (future mapping that pickles), its iwith out `futures.map` it just falls back to map which has no need to pickle. Pickling is used to collate results spread out across different CPUs onto rank 0

I think there is an advantage in spreading out the work load when ever a call to NEURON is involved.

Timing would be the only way to find out

[2017-04-08 17:27] russelljjarvis commented on #63
More on this issue. If you look at SCOOPs logo, a tree or a graph, you can actually see that the philosophy of SCOOP is about nested parallel calls. The easiest way to think about what I am proposing is that calls to futures.map inside futures.map is causing a branching and tree like network topology (its not a persistent topology, it only exists for the duration of the the nested calls to futures

[2017-04-08 17:36] rgerkin commented on #63
Did you try the idea to list `unpicklable` explicitly as an attribute of `sciunit.SciUnit`?

[2017-04-08 17:58] russelljjarvis commented on #63
I found where the unpicklable list was initialized as empty list inside an abstract base class inside sciunit. I thought from previous conversations the idea was to append things to this list. Presumably to append them to the list after the base classes object instances are made, and not inside the class definition code itself.

This is not an area that I have a lot of experience with and I can't

[2017-05-01 19:18] rgerkin opened #64 "Get Singularity image built and running on NSG/XSEDE resources"
- [ ] Build a Singularity version of the Docker image and run it successfully on your local machine
- [ ] Upload that image to an XSEDE machine (e.g. Comet) and get it to run there.

[2017-05-13 02:00] russelljjarvis opened #65 "As is the backends file is still probably calling jNeuroML unnecessarily."
To eliminate unnecessary jNeuroML calls for all subsequent model instantiations.

Lines 252-252 of [model/backends.py](https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/backends.py#L252-L253) should be updated to contain the two extra lines below.

[code]

The code works otherwise but its probably slower.

[2017-05-13 02:18] russelljjarvis opened #66 "neuronunit/__init__.py"
The file [neuronunit/`__init__.py`](https://github.com/scidash/neuronunit/blob/dev/neuronunit/tests/__init__.py#85-65) fails with the stack trace:
[code]

I am trying to conditionally make a list type of score.picklable but it seems to fail regardless:

I am using:
[code]
which does not seem to work.

[2017-05-13 04:25] rgerkin commented on #66
@russelljjarvis
This is supposed to be taken care of automatically by the fact that (at least in `scidash/dev`) all core types now inherit from `sciunit.SciUnit`, [which creates an `unpicklable` attribute in its constructor](https://github.com/scidash/sciunit/blob/dev/sciunit/__init__.py#L43).  If this is working, then why do we also need a `picklable` attribute as well?  Shouldn't everything that

[2017-05-13 04:35] rgerkin commented on #65
@russelljjarvis
This and some of the code in the few dozen lines above it are still model specific (referring to LEMS_2007One and such).  Can this section be made model-independent by having it determine the name of that directory from some other attribute of the model (like the orig_lems_file_path, for example).

[2017-05-13 05:14] russelljjarvis commented on #65
The problem in this specific case is that the path `self.orig_lems_file_path` looks like:
[code]
but we actually just want:
[code]
Maybe instead of using the commands below, I can find a command that simply takes an absolute file path and returns just the directory that contains that file.
[code]
I guess we could check for the x86_64 subdirectory by recursively searching.

/neuronunit/tests/NeuroM

[2017-05-13 05:48] russelljjarvis commented on #66
Sorry yes, it was supposed to read:
[code]
I must have been tired when writing it.

I can confirm that the lines:
[code]
are still in sciunit, note that this seems to satisfy all of the tests in the suite besides class `RheobaseTest(VmTest)`, which is the only test to contain score type of `scores.RatioScore`. I am unsure why it fails for scores.RatioScore but not the other score types. Looking in

[2017-05-13 06:13] russelljjarvis commented on #65
Just ignore this thread. I think some of my confusion comes from a git merge I completed. There is old code that you wrote that used to find the directory that contains the file, but it got buried somehow. I will check older commits.

[2017-05-13 06:13] #65 closed

[2017-05-13 19:26] russelljjarvis opened #67 "documenting problem: Slower performance for optimization code on docker in osx/mac versus Ubuntu"
CPU utilization looks like 4 out of CPUs, and I suspect the docker container is starting with less than the full amount of available RAM too. I will append the solution, once I have researched it a bit more.

http://stackoverflow.com/questions/38557368/very-slow-network-performance-of-docker-containers-with-hosts-network

https://www.reddit.com/r/docker/comments/2lgkii/boot2docker_performance/

[2017-05-13 21:34] #67 closed

[2017-05-19 09:14] appukuttan-shailesh opened #68 "Move to neo 0.5"
I was taking a look at `ProducesActionPotentials` capability which requires the model to provide a `neo.core.AnalogSignalArray`. The latest version of neo (0.5) no longer has `AnalogSignalArray` and simply uses `AnalogSignal` for the same. The capability might therefore need to be updated appropriately.

[2017-05-19 23:41] russelljjarvis commented on #64
Plans, manually upload data to Comet using web portal, launch job from webportal.

Launch this command with the singularity image using a command such as:
[nu.def](https://github.com/russelljjarvis/neuronunit/blob/dev/neuronunit/tests/singularityimage/)

```sudo singularity bootstrap pnp_latest-2017-05-19-f1d9712ba440.img nu.def```

See if I can configure the launch of singularity+Comet to basical

[2017-05-21 18:27] russelljjarvis commented on #64
bump. ^^

[2017-05-22 19:49] rgerkin commented on #68
Yes, right now there is a hard dependency for neo 0.4.  I plan to move to neo 0.5 soon.

[2017-05-24 22:13] rgerkin commented on #25
Need to implement #68 first so we can use the neo igorio module.

[2017-05-25 01:13] russelljjarvis commented on #64
Using the pattern:
http://singularity.lbl.gov/docs-docker
[code]

[code]
[code]

Causes the error below:
[code]
This has been fixed in the development branch of singularity:
https://github.com/singularityware/singularity/issues/421
Which probably involves building it from source.

[2017-06-01 03:48] russelljjarvis opened #69 "new changes to backends, NEURON introduces a lot of problems."
In the file backends.py, the implementation of the function [def set_run_params(self, **params)](https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/backends.py#L274-L286) is too simplistic, and does not work.

If I run the code block without modification I get the errors, which is indicative of the nested dictionaries not being processed properly:
Ie `//izhikevich2007Cell` is not sup

[2017-06-01 06:13] rgerkin commented on #69
I didn't even really change that much.  Most of it is your code.

[2017-06-01 18:04] russelljjarvis commented on #69
These are some of the relevant changelogs:
https://github.com/scidash/neuronunit/commit/3142d6eb5e3abdfcd2abdea115d81d5b7ab7cda9

https://github.com/scidash/neuronunit/commit/99267f8f6e1222e720b8daf6ec4f54690e0e9363

https://github.com/scidash/neuronunit/commit/e17a1c21779df39653a5150a4404610f4384ae96

https://github.com/scidash/neuronunit/commit/fe9168154d538a38aa85dba2548d933c22d1cfdc

https://g

[2017-06-01 20:13] rgerkin commented on #69
Feel free to work with your code on `russel_dev` or your fork, and then we can commit it to `scidash/dev` when you and I have time to work through it.

[2017-06-01 21:42] russelljjarvis commented on #69
Yes, I am happy to fix these problems now that I know they are a priority. I should have noted that I can see how the changes you made make the code better. I will work on integration, and finding the minor changes required to get all the functions working together.
.

[2017-06-02 00:52] rgerkin opened #70 "Unit tests with arguments"
@russelljjarvis
When I try to run your unit tests, I get errors like:
[code]
Ignore for now that they are in a different location.  The main concern is that they take arguments (like `rh_value` and `ind`) but I don't see how they are supposed to get these arguments passed to them.  Was this just a placeholder for unit tests that you planned to finish later, or is there some way that these argument

[2017-06-02 00:57] russelljjarvis commented on #70
Yes I planned to finish those unit tests later. I never finished them.

[2017-06-02 19:34] rgerkin commented on #39
Added for NeuroElectro in 4693bba

[2017-06-02 19:34] #39 closed

[2017-06-02 19:39] rgerkin opened #71 "Create tests corresponding to AIBS and BBP stimulation protocols"
Single cell somatic current injection protocols for the Allen Institute Cell Types database and for Blue Brain are published and should be used to create analogous tests.

- [ ] [AIBS](http://help.brain-map.org/display/celltypes/Documentation?preview=/8323525/10813529/CellTypes_Ephys_Overview.pdf)
- [ ] BBP

[2017-06-02 20:16] rgerkin opened #72 "Add model classes for AIBS GLIF models"
The Allen Institute Cell Types database has custom models for each cell that can be downloaded from [their GitHub page](https://github.com/OpenSourceBrain/AllenInstituteNeuroML/tree/master/CellTypesDatabase).  See [this OSB Project](https://github.com/OpenSourceBrain/AllenInstituteNeuroML/tree/master/CellTypesDatabase/models/GLIF) for examples of downloaded models and some code to help parse them.

[2017-06-03 01:14] russelljjarvis commented on #69
I have adapted my example `exhaustive_search.py` (however note, this does not mean I have also adapted nsga.py) code to work with the new implementation of the file backends.py, especially with regards to the function [def set_run_params(self, **params)](https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/backends.py#L274-L286)

However I stumped by the error below. Inserting the stat

[2017-06-03 17:40] rgerkin opened #73 "Pipeline for handling larger NML projects with simulation experiments"
This was being done through the [neuroConstruct bridge](https://github.com/scidash/neuronunit/tree/dev/neuronunit/neuroconstruct) but we are deprecating that now because the development cost/benefit ratio is too high.  Thoughts from PG on the way to handle this going forward:

**RG**: What is the status of development for a Java-free version (or at least one where I can do arbitrary things to Neur

[2017-06-13 16:32] rgerkin commented on #64
On my Mac I had this problem (long irrelevant code blocks replaced by `...`):

[code]

[2017-06-13 16:32] rgerkin commented on #64
@russelljjarvis
But it looks like Singularity 2.3 has now been released (as of May 31st) so if I rename my old `singularity-vm` directory, and then do:

[code]
i.e. Option 1 on the Mac instructions [page](http://singularity.lbl.gov/install-mac)

then inside the Vagrant container do:
`singularity --version` (should be 2.3 with some suffix)
then do:
[code]

It seems to complete without error.  Then

[2017-06-14 08:54] russelljjarvis commented on #64
AOK.

[2017-06-19 04:58] russelljjarvis opened #74 "RuntimeWarning: overflow encountered in exp"
Unsure if this warning means that the resulting calculations are invalid.
[code]

[2017-06-19 19:14] JustasB commented on #71
CC @russelljjarvis

We should create a new subfolder under neuronunit for protocols.

![image](https://user-images.githubusercontent.com/10732358/27301559-7616dad6-54e8-11e7-8c0d-1e559046643d.png)

The reason is that a given test can be split into two parts: 1) generate prediction and 2) compute score. Prediction generation can be further split into: 1) run protocol and 2) extract features.

In al

[2017-06-20 02:37] russelljjarvis commented on #71
I agree with this Justas. Protocals and waveform features are different types of things so they should be separated out.

[2017-06-22 21:22] rgerkin commented on #71
I agree.  Make it so.

[2017-06-22 21:26] rgerkin opened #75 "Create new protocols subdirectory"
There should be a protocols file or directory of files containing protocols associated with Capabilities like current injection.  These protocols could be used by tests, and would exist at a level in between direct calls to capabilities and whole `compute_prediction` methods.  See also #71.  An example of two different protocols would be "inject a square wave of size X" and "inject a triangle wave

[2017-06-22 21:33] rgerkin opened #76 "Particle filtering for tests that can be approximately evaluated with partial traces"
@russelljjarvis
I saw a talk where models were being fit using [particle filtering](https://en.wikipedia.org/wiki/Particle_filter).  The basic idea is that there are many parameter sets (each set is a "particle", analogous to a gene in GA), but they evolve after each time step instead of after the whole trace is recorded and evaluated.  There is a specific class of tests for which this would repre

[2017-06-28 23:42] rgerkin commented on #74
@russelljjarvis
Can you check to see what the maximum and minimum values of `-t[offset:]/b` are (just insert some print statements in neuronunit)?  I suspect there is either a very large positive or negative number in there.  If it is very large and negative, that is fine, because exp(-inf) is 0.  The overflow would just come from trying to get a precise floating point version of that value, which

[2017-06-29 00:19] russelljjarvis commented on #74
Yes will do. Just have to rebuild docker-stacks first to enable this.

[2017-06-30 18:59] JustasB opened #77 "Why aren't models/backends.py and neuron/models.py merged?"
Both of these files contain similar (e.g. copy & pasted) code:

https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/backends.py
https://github.com/scidash/neuronunit/blob/dev/neuronunit/neuron/models.py

One of these needs to be removed and merged into the other. Is the NEURONBackend class only usable for the rheobase search project? If so, what is the reason why code was copied from

[2017-06-30 19:56] rgerkin commented on #77
@JustasB @russelljjarvis
We are on a merge and purge mission for the next few days as we move towards the next release.  I propose that all the code should be in NEURONBackend and that the neuron module should be deleted.  But not before all of its useful components have been incorporated into that Backend.

The neuroConstruct interface is being deprecated, as it is too hard to support (requires a

[2017-06-30 20:15] JustasB commented on #77
Sounds good. @russelljjarvis, let me know how I can help.

[2017-06-30 21:10] russelljjarvis commented on #77
The only reason, is that I was too scared to edit the main scidash repository. I will try after video call.

[2017-06-30 21:36] rgerkin commented on #69
Fixed.

[2017-06-30 21:36] #69 closed

[2017-06-30 21:37] rgerkin commented on #68
Fixed in aa45cb7

[2017-06-30 21:37] #68 closed

[2017-06-30 21:55] rgerkin commented on #66
I think if I add `unpicklable = []` as an attribute to the SciUnit class, not just create it in the constructor, then any subclass instance should have that attribute even if somehow the constructor never got called.  I think the constructor isn't getting called because you are somehow putting instances of tests into test suites with attributes that were not fully realized by the usual route.

[2017-06-30 22:02] rgerkin commented on #61
Duplicate of #66.

[2017-06-30 22:02] #61 closed

[2017-06-30 22:02] rgerkin commented on #58
Fixed.

[2017-06-30 22:02] #58 closed

[2017-06-30 22:03] rgerkin commented on #52
Done.

[2017-06-30 22:03] #52 closed

[2017-06-30 22:18] rgerkin commented on #50
All of this should be handled in the constructor, which can run a sanity check.  I need to add a `check_run_params` method to the `Test.judge` method, which can check to make sure that the parameters being provided (stimulus parameters) for example, are sane.  For example, if the run_params had a `injected_current` key, and that in turn had a `ampl` value of `np.Inf`, then it would just return an

[2017-06-30 22:21] rgerkin commented on #47
Fixed.

[2017-06-30 22:21] #47 closed

[2017-06-30 22:21] rgerkin commented on #62
Duplicate.

[2017-06-30 22:21] #62 closed

[2017-06-30 22:27] rgerkin commented on #22
Duplicate of #68.  Added in aa45cb7.

[2017-06-30 22:27] #22 closed

[2017-06-30 22:28] rgerkin commented on #20
Almost there!

[2017-06-30 22:28] rgerkin commented on #13
@JustasB Did you ever implement this?

[2017-06-30 22:29] rgerkin opened #78 "Add IgorIO support"
Required for #25.  Requires #68.

[2017-06-30 22:29] rgerkin commented on #25
#68 has been implemented so now we need to take care of #78.

[2017-06-30 22:31] rgerkin commented on #28
We now have many of these.  See the SciDash [docker stacks](http://github.com/scidash/docker-stacks).

[2017-06-30 22:31] #28 closed

[2017-06-30 22:38] rgerkin opened #79 "How do we want to handle continuous integration checks (Docker, Travis, etc.)"
What do we want to handle in Travis-CI?  Testing of the Docker containers?  Testing of the code from inside the containers?  Testing of the code from a regular build?  Which code?  The sophisticated parallel computationally-intensive stuff with lots of requirements, or just the simple testing examples?

[2017-06-30 22:39] #37 closed

[2017-06-30 22:41] rgerkin commented on #42
See ccfcefc.

[2017-06-30 22:41] #42 closed

[2017-06-30 22:45] rgerkin commented on #43
Solved.

[2017-06-30 22:45] #43 closed

[2017-06-30 22:46] rgerkin opened #80 "Should we switch from Scoop to IPyParallel?"
@russelljjarvis

[2017-06-30 22:59] rgerkin commented on #56
Move a lot of the stuff that you use to test your code into a scratch directory outside of the neuronunit module (but inside the neuronunit directory itself, i.e. at the same level a `setup.py`, `unit_test`, etc.

[2017-07-03 07:29] russelljjarvis commented on #80
# Arguments in favor of scoop:

* Already in use

* was designed for use with DEAP, and has tight DEAP integration in code conventions.

* Uses zeromq (Z0Q) natively which is more communication speed efficient than MPI

* Allows recursive calling of `futures.map` facilitating a tree shaped cluster topology that should result in a bigger spreading of code onto CPUs (greater utilization of parallel

[2017-07-05 19:09] JustasB commented on #13
@rgerkin The functionality to compute grand means and SDs from individual paper means and sds has been implemented in neuronunit:

https://github.com/scidash/neuronunit/blob/feb7e80bbbd7bf203f424e6d223f2c31a1a134d6/neuronunit/neuroelectro.py#L271

@stripathy implemented the change to return the error type:
https://github.com/scidash/neuronunit/issues/13#issuecomment-224123763

and neuronunit code

[2017-07-06 23:57] #13 closed

[2017-07-07 22:00] rgerkin opened #81 "Set backend logic to use __new__ to dynamically modify class"
e.g.
[code]

[2017-07-08 00:07] rgerkin commented on #78
Done in 7bc55cb

[2017-07-08 00:07] #78 closed

[2017-07-08 16:03] rgerkin commented on #81
Done in 46ba224425b2cdd4a71cf2a9a5992983c052b918.

[2017-07-08 16:03] #81 closed

[2017-07-08 16:05] rgerkin commented on #66
Done in scidash/sciunit@e6f7009308da71086e2451c2c927d485d3b4c631.  Check to see if this works for you know, @russelljjarvis.

[2017-07-08 16:20] rgerkin commented on #50
@russelljjarvis
In 46ba224425b2cdd4a71cf2a9a5992983c052b918 I added the following things:
- Every model will call a `check_params` method when it is initialized.  You can check initialization parameters (e.g. parameters a, b, c, etc. of the Izhikevich model) by creating this method in your model.
- Every model will call a `check_run_params` method when you call the Backend's `set_run_params` metho

[2017-07-13 11:11] russelljjarvis opened #82 "possible typo in neuronunit/__init__.py"
Should line 225 of exponential fit read:
```vm_fit[offset:] = a * np.exp(-t[offset:]/b) + c```
as opposed to:
```vm_fit[offset:,0] = a * np.exp(-t[offset:]/b) + c```

Since the dimesions of vm_fit do not permit multiple indexs.

Its in context here:
https://github.com/scidash/neuronunit/blob/dev/neuronunit/tests/__init__.py#L225

[2017-07-13 12:54] russelljjarvis opened #83 "spike_functions neo type casting problem AS versus ASA"
After updating the file neuronunit/capabilities/spike_functions.py to be consistent with the latest patches at scidash specifically on line 44

https://github.com/scidash/neuronunit/blob/dev/neuronunit/capabilities/spike_functions.py#L44

I am getting the error:

[code]

I decided that the problem is vm is assumed to be of type neo AnalogueSignalArray as opposed to just regular AnalogueSignal (reg

[2017-07-13 13:17] russelljjarvis opened #84 "spikes2widths IndexError: too many indices for array"
[code]

[2017-07-14 21:13] rgerkin commented on #77
@russelljjarvis has removed the neuron folder in his branch and this will be merge into dev soon.

[2017-07-14 21:54] rgerkin opened #85 "Add exec_in_dir fix to run_lems_with_jneuroml_neuron and any other run_lems_with_jneuroml_* wrappers in pyNeuroML"
- Do [this](https://github.com/NeuroML/pyNeuroML/pull/43/commits/d51253e73bb66e46f7645771808a981a7da7371a) but for `run_lems_with_jneuroml_neuron` and others in pyNeuroML
- Then add [this](https://github.com/scidash/neuronunit/search?utf8=%E2%9C%93&q=tempfile.mkdtemp&type=Code) to the NEURONBackend in NeuronUnit.

[2017-07-14 22:40] rgerkin commented on #50
You can raise an exception at any time (for example within one of the model methods).  You could check that the vm is reasonable at the end of `get_membrane_potential`, and if it is not you can raise some exception (any one you want, e.g. `ValueError`) within that method.  Then, if you pass the `stop_on_error=False` keyword argument to `judge`, the score returned by `judge` will be either a regula

[2017-07-15 02:20] russelljjarvis commented on #50
I like this proposed solution. I have deleted __sanity_test__ from tests/__init__.py and added in appropriate code to backends/ NEURON `get_membrane_potential`.

I have made it so `get_membrane_potential` calls:
[code]

I have not written the code to check if the stimulation protocol parameters are also appropriate, but intend to do so soon.

[2017-07-15 09:41] russelljjarvis commented on #77
I think the next step is to test backends NEURON to see if it can be substituted in the following files.
https://github.com/JustasB/MitralSuite/blob/master/helpers.py

https://github.com/JustasB/MitralSuite/blob/master/SimpleNeuronCellTests.ipynb

[2017-07-15 12:44] russelljjarvis commented on #50
Actually its very slow to constantly check elements of the membrane potential lists inside the backends.py get_membrane_potential method.

I am now calling get_neab.suite.judge as bellow. I wonder if that will be sufficient.
[code]

[2017-07-16 06:10] russelljjarvis opened #86 "AttributeError: 'Quantity' object has no attribute 'sampling_period'"
Change to quantities means that `s` in the expression below:

[code]
does not have an attribute `sampling_period` Causing the error below:
[code]

Its difficult to find where the model in line 347 inherits spike_width tests from capabilities/spike_functions.py however it might be cool if you could get the sampling rate with something like:

widths = model.get_AP_widths()
the neuronunit/tests/__ini

[2017-07-16 08:27] rgerkin commented on #86
I encountered this error during the transition to neo 0.5, but the changes I made in the dev branch already should have solved it.  I will check again.

[2017-07-16 08:55] russelljjarvis commented on #86
AOK

[2017-07-17 00:47] rgerkin commented on #86
I see you merged in my commit that changed `for s in spike_waveforms` to `for i in range(n_spikes)`, among other things.  That should fix the problem, although perhaps you are dealing with new ones.  I am closing this unless this particular problem re-emerges for you.

[2017-07-17 00:47] #86 closed

[2017-07-17 00:47] rgerkin commented on #84
Should be fixed with neo 0.5 changes that have been merged.

[2017-07-17 00:47] #84 closed

[2017-07-17 00:48] rgerkin commented on #83
@russelljjarvis
Should be fixed with neo 0.5 changes that have been merged.  But I'm not sure if maybe the issue is deeper than that, so I'll leave it open pending your comments.

[2017-07-17 00:48] rgerkin commented on #82
Requires neo 0.5 to work.

[2017-07-17 00:48] #82 closed

[2017-07-17 01:36] russelljjarvis commented on #83
Alright I pulled the changes from dev concerning `spike_functions.py`, the it seems to be using the function squeeze a lot, I do not understand what squeeze does but I remember it from MATLAB.

I am about to check if the new spike_functions.py file this fixs the problem.

At first I tried to merge all of the changes from dev, but there are some substantial changes to backends NEURON that I suspect

[2017-07-17 02:14] rgerkin commented on #85
Implemented in 218c42bd6a6e5fa02ea2c77dae2014379f8997bd.

[2017-07-17 02:14] #85 closed

[2017-07-17 02:16] rgerkin commented on #50
@russelljjarvis
I think we have the building blocks in place for this now.  Reopen this issue if one of them doesn't work for you.

[2017-07-17 02:16] #50 closed

[2017-07-17 02:25] rgerkin commented on #29
MyBinder appears to be non-functional right now.  Also, this may require #20 since I'm not sure MyBinder can handle a non-default branch.  This may be better without relying on #28 and instead just using a traditional pip installation with requirements.txt.

[2017-07-17 02:44] rgerkin commented on #83
`squeeze()` removes singleton dimensions from an array, so that e.g. an array with shape 1000x1 becomes just a 1D array.

[2017-07-18 01:05] russelljjarvis commented on #86
Yes, I think its fixed.

[2017-07-18 01:34] russelljjarvis commented on #80
After doing a lot of the work associated with switching, I now believe that the answer is yes, we should switch.

The two main reasons are: Better integration with documentation via, notebooking, and also because notebooks have checkpointing, which can save time on big runs.

I am getting the sense that ipyparallel might be slower than scoop, however I am unsure if things have to be this way, and

[2017-07-18 03:45] russelljjarvis opened #87 "Double checking sciunit score sort_key values, greater distance from zero greater goodness."
Hi @rgerkin I just wanted to double check that goodness in the context of `score.sort_key.values`, is distance from zero in both positive and negative directions? If so when my optimizer encounters a score, as its job is to minimize badness, I divide 1 by the absolute value of the score, and multiply by -1.0. In this way I intend to convert the goodness to absence of badness.

[code]

[code]

[2017-07-18 18:00] rgerkin commented on #87
@russelljjarvis The `sort_key` should always be a value (or array of values) between 0 and 1, with 1 being good (e.g. Z=0) and 0 being bad (e.g. Z=very positive or very negative).  You shouldn't have to do any transformation of it, except perhaps multiplying by -1 if you are trying to minimize the objective function.

The transformation of e.g. Z to the `sort_key` is done in `sciunit.scores`, in a

[2017-07-21 21:45] rgerkin opened #88 "Create model class that loads results from pre-computed traces"
We need a model class that just loads results from disk instead of ever running anything.  This will be useful for running unit tests on some of the tests themselves, so that the unit test is independent of the current quality of the other model backends.

[2017-07-21 21:45] rgerkin opened #89 "Make unit tests for all the VmTest subclasses"
These should be based on stored vm traces, rather than ones generated on the fly from one of the model classes.  Requires #88.

[2017-07-21 21:45] #87 closed

[2017-07-21 21:46] #83 closed

[2017-07-21 21:52] rgerkin commented on #80
Sounds good.

[2017-07-21 21:52] #80 closed

[2017-07-21 22:21] rgerkin commented on #77
@JustasB Can you work with Russell to make sure that the code he now has in "NEURONBackend" is able to do the kinds of things that you are doing with MitralSuite?  I want to make sure that the upcoming release of NeuronUnit can still run MitralSuite.

[2017-07-21 22:23] rgerkin commented on #74
Probably fixed.

[2017-07-21 22:23] #74 closed

[2017-07-21 22:28] rgerkin opened #90 "Can we get rid of VirtualModel?"
VirtualModel seems like a hack that we should try to improve upon if we can.  Can you make a version of the optimization notebook that tries not to use VirtualModel, fails on whatever error that results, and then I can work on it from there?

[2017-07-22 04:08] russelljjarvis commented on #77
Hi @JustasB
I have added the class HasSegment(sciunit.Capability) class has been added back into the dev branch of [backends](https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/backends.py#L19-L35
).py

But I don't expect it to work yet, I am trying to modify the file 'helpers.py' from your mitralSuite repository, such that invocations of the SingleCellModel class can be replaced wit

[2017-07-22 10:52] russelljjarvis commented on #77
Hi @JustasB and @rgerkin, as discussed this morning I have made the proposed changes to neuronunit/models/backends.py such that it is compatible with code in https://github.com/russelljjarvis/MitralSuite/blob/master/helpers.py#L48-L68

I also created an example notebook of this code working, which is located in scratch directory of
branch -dev of scidash/neuronunit
https://github.com/scidash/neuro

[2017-07-22 11:00] russelljjarvis opened #91 "NEURON-7.5 documentation is out."

[2017-07-22 11:00] #91 closed

[2017-07-22 17:29] rgerkin opened #92 "Implement QSNMC"
Re-implement the Quantitative Single Neuron Modeling Competition (Joliver, 2008; Naud, 2009) using NeuronUnit.

[2017-07-22 22:14] JustasB commented on #77
Thank you @russelljjarvis, I will take a look

[2017-07-23 22:07] rgerkin opened #93 "Merge requirements.txt and setup.py"
Make setup.py parse from requirements.txt to determine `install_requires` values.

[2017-07-24 23:32] rgerkin commented on #88
@russelljjarvis I have added support for pre-computed model results in d4ffbd2c84202a2a721f0edc0544781ec2c66c86.  You can test it with something like:

[code]

[2017-07-24 23:32] #88 closed

[2017-07-26 12:55] russelljjarvis opened #94 "trying to pickle tests or judge does not work"
[code]

Pickeling is done by ipyparalllel its necissitated because this is the way workers get method arguments in a call to
[code]

Interestingly its only `suite.judge` that can't be passed between workers using serialization, `suite.test` is fine.

[code]

[code]
[code]
[code]

[2017-07-26 17:44] rgerkin commented on #94
@russelljjarvis Could you make the minimal recipe that raises this error?  There is a lot going on here so I don't know how to reproduce it on my end.

[2017-07-26 18:08] rgerkin commented on #94
@russelljjarvis I've added a check in *sciunit* for this attribute, so that the whole `unpicklable` check will be skipped if that attribute doesn't exist.  But really, it always should exist so I haven't solved the underlying problem (although your code might work now).  That's why I'd like a recipe so I can tackle this problem once and for all.

[2017-07-26 18:09] rgerkin commented on #93
Dealt with this for now by changing requirements.txt to a single line, ".", in 777f422d2b2c2a3453643e5a3d95079d2769a822, which allegedly points back to setup.py.  There are arguments for and against this approach on the internet.

[2017-07-26 18:09] #93 closed

[2017-07-27 04:12] russelljjarvis opened #95 "Optimizer should really compare best candidate model predictions to observations."
Optimizer should really compare best candidate model predictions to observations, as well as comparing results to an exhaustive search.

To achieve this I am running:
[code]
which results in more invocations of the simulator.

It would be more efficient to store the last predictions in the test object, in the same way that observations are stored.

As a concrete example:

in the `tests/__init__.py

[2017-08-01 11:16] russelljjarvis opened #96 "When the `score.sort_key` scheme breaks down."
Hi @rgerkin with regards to the email today I finally figure out the problem.

As you said over google VOIP,

`score.sort_key` gives badness conveniently normalized between [0,1] The closer to zero the less badness.

`float(score.raw)` gives goodness as distance from zero in either +ve or -ve directions. so `np.abs(float(score.raw))` gives an un-normalized goodness in the +ve direction.

It almost

[2017-08-02 01:43] russelljjarvis commented on #90
Yes, I agree I will try to do this.

[2017-08-02 02:34] rgerkin commented on #96
@russelljjarvis

1) What email today?

2) No, I keep emphasizing that higher `sort_key` is better.  1 is the best.  0 is the worst.  The thing to minimize is always `-sort_key`.  Then you will find solutions with sort_key closest to 1, e.g. `RatioScores` close to 1 and `ZScores` close to 0.

3) The RatioScore works by dividing the observed by the predicted, see [here](https://github.com/scidash/sc

[2017-08-02 05:13] russelljjarvis commented on #96
Yes, in your words the issue I am experiencing is: One possible issue is that in the implementation I had, the sort_key reached 0 before the ratio itself reaches 0, as you might be able to see from the example above (depending on the version of sciunit you are working with). So the optimizer might have difficulty finding the gradient once it tested models with sufficiently small rheobase. I change

[2017-08-09 21:56] rgerkin commented on #94
@russelljjarvis
I pushed some new changes to scidash/neuronunit/dev that might help.  They help ensure that all objects can be found again on unpickling.

However, I realize there is another issue I need a better grasp of, which is what kinds of things in model initialization (with the NEURON backend) should happen once on the host or one worker and just be pushed passively to others (e.g. simple

[2017-08-10 11:21] russelljjarvis commented on #94
This seems like a very complicated issue. I will need to read over it several times.

[2017-08-10 22:01] rgerkin commented on #94
@russelljjarvis
I think I finally have a solution to all of this.  At least I have gotten past all of the pickling errors, and my computer is running hot working on the optimization.  I don't know it is entirely fixed, but if it doesn't finish or results in an error it doesn't seem to be related to simple pickling problems.

1) Rebuild your stacks from scidash/docker-stacks/master (I largely did n

[2017-08-10 22:06] rgerkin commented on #94
@russelljjarvis Just to update, the `nsga_parallel_no_vm.py` file did run to completion, and `models` and `pop` do contain values that seem like the kind of values that would have been returned by a successful run, but I'm not entirely sure how to check this.  What would be a good line to add to the end of the script to check that the optimization in that file ran successfully?

[2017-08-12 03:21] rgerkin opened #97 "Update documentation notebooks with the new logo"

[2017-08-23 19:57] rgerkin opened #98 "Contact NeuroManager people"
https://link.springer.com/article/10.1007/s12021-017-9337-x

After neuronunit 0.2 is released.

[2017-08-25 21:39] rgerkin commented on #63
Closing since we decided to focus on ipyparallel.

[2017-08-25 21:39] #63 closed

[2017-08-25 21:53] rgerkin commented on #79
Current plan:
The `.travis.yml` file will install conda, install the package itself, and then run the unit tests.  Docker will not be used for this kind of commit-by-commit testing of NeuronUnit.  The Docker stacks will be maintained independently at `scidash/docker-stacks`.
The requirements.txt file will consist only of a single line (".") which points to setup.py, which is where all the dependen

[2017-08-25 21:54] rgerkin commented on #90
I think now that we can pickle and unpickle across processes in ipyparallel, we should be able to get rid of VirtualModel.

[2017-08-25 22:03] rgerkin commented on #95
Implemented in `russelljjarvis/dev` branch.  Russell, could you reference a block of code or commit number here and close the issue?

[2017-08-25 22:23] rgerkin commented on #96
With the sort_key fixed you won't need to do this sort of thing.  We will want to avoid having non-dimensionless quantities in the objective functions, since then they depend on units (e.g. pA vs nA).

[2017-08-25 22:23] #96 closed

[2017-08-25 22:37] rgerkin opened #99 "Optional weight matrices for optimization"
Currently, the number being minimized or maximized is effectively the dot product of the sort_key array (s) and the weights array (w).  The weights array is currently all -1.  In other words, the current scheme is:

Optimize `s . w`.

Let's do these things:
- Change `creator.create("FitnessMin"...` to `creator.create("FitnessMax"...`)
- Make `w` an optional argument, with the default value of all

[2017-08-25 22:38] rgerkin commented on #94
@russelljjarvis
Check that this solution (in the updated sciunit and neuronunit) works for you.

[2017-09-02 20:59] JustasB opened #101 "error: The 'pyneuroml==9999' distribution was not found and is required by neuronunit"
Using the latest version from dev branch, when i run `python setup.py install` I get the following message:

[code]
Seems like it's related to the following commit:
https://github.com/scidash/neuronunit/commit/ff86ebcd49a73dd429c95a81ca887095f5975efe

I get a similar message with latest dev install for **sciunit** as well:

[code]

[2017-09-03 00:27] russelljjarvis commented on #94
I am up to step 2
2) Update the `scidash` branch of `ParallelPyNeuron` where I have update the `reproduce_error/Dockerfile` to include a few things that are needed.

[2017-09-03 02:12] russelljjarvis commented on #101
Yes, Rick has done this deliberately as a work around for satisfying dependencies in a way that meets his requirements.

The way to get around it is to use a pattern like (where RUN can be omitted in native BASH, and `WORKDIR` can be replaced with `mkdir` or `cd` (WORKDIR does both of these things depending on whether the directory already exists or not):

[code]

[2017-09-03 16:57] JustasB commented on #101
Ok i see.

@russelljjarvis is the script something that is a workaround for now, or do you expect that this will need to be part of the install process for sci/neuronunit in the long run?

If long term, consider mentioning the script in install instructions, as most people will likely, like me, just run `python setup.py install` and run into the same problem -- which adds to the barrier to adoptio

[2017-09-03 18:57] russelljjarvis commented on #101
No Rick does not intend it for the long run, or even the next big release. Its just a development orientated work around.

I forgot to say the only critical commands:

` pip install --process-dependency-links -e .`

with the -e functioning to add the path (a dev environment link) to the front of sys.path such that it has precedence, and the --process-dependency-links means don't act on the 999 pac

[2017-09-03 19:29] JustasB commented on #101
Alright - I see :)

[2017-09-03 19:29] #101 closed

[2017-09-06 15:20] rgerkin commented on #94
@russelljjarvis Any progress?

[2017-09-06 21:20] JustasB opened #102 "unit_test/core_tests.py failing due to bbp url"
Using the latest dev version, when I run unit_test/core_tests.py locally, I see the following error:

[code]

Looking closer, it looks like the test tries to get the following url: `http://microcircuits.epfl.ch/data/released_data/B95.zip`, which appears to be broken (403 forbidden).

Strangely, travis-ci is did not complain about this url 7 days ago, so either the url broke since then or it could

[2017-09-06 21:48] JustasB commented on #77
@russelljjarvis Looking at the[ code in scratch folder](https://github.com/scidash/neuronunit/blob/dev/scratch/example_neuron_backend.ipynb), I was able to create a simple model to using the [SingleCellModel(NEURONbackend)](https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/backends.py#L404), but ran into several problems when running a test:

 - The test first complained that [model

[2017-09-07 20:19] rgerkin opened #103 "Can quantitities dependency be moved back to upstream repo?"
https://github.com/python-quantities/python-quantities/issues/122

[2017-09-08 00:16] rgerkin commented on #102
I'd have to imagine the URL broke.  Every now and then one of the tests fails because neuroelectro is down, too.  At the very least it lets me know to check the URL and email the site maintainers.  In fact, since you found it, I delegate that task to you @JustasB.

[2017-09-08 00:20] russelljjarvis commented on #102
I also have about 4/5 success rate with querying neuroelectro.

[2017-09-08 00:27] russelljjarvis commented on #77
Hi @JustasB and @rgerkin,

I will try to test this out soon.

Russell.

[2017-09-08 00:33] rgerkin opened #104 "Figure out a build that works well with readthedocs"
See https://github.com/rtfd/readthedocs.org/issues/2776

[2017-09-08 17:19] JustasB commented on #102
It looks like the whole BBP site is down/non functional - no contact information anywhere. Here's the screenshot of the home page:

![image](https://user-images.githubusercontent.com/10732358/30222685-7b9493f8-947c-11e7-8f0d-1f46e618b444.png)

Together with the problems with neuroelectro, as well as this BBP website, we would benefit from separating the following two concerns:

- Testing whether c

[2017-09-08 17:24] JustasB commented on #102
Additionally, we could modify the unit tests that rely on external resources so that the resources are pre-downloaded, and the unit test code checks our code against the cached version of the resource.

Of course the external resource could change, which would break our code even if no code has changed, but that's a larger problem similar to the problem of what happens when external libraries chan

[2017-09-08 21:08] rgerkin opened #105 "Separate URL status checks from unit tests"
- [ ] Remove dependency on site reliability (neuroelectro, BBP, etc.) from unit tests, using cached data.
- [x] Add separate status checks for those URLs.
See #102 for inspiration.

[2017-09-08 21:09] rgerkin commented on #102
These are good ideas, @JustasB.  I've added a new issue (#105) to deal with these things.

[2017-09-08 21:09] #102 closed

[2017-09-08 21:52] rgerkin commented on #77
![](https://github.trello.services/images/mini-trello-icon.png) [Backends problems](https://trello.com/c/AE2J6O4z/37-backends-problems)

[2017-09-08 22:28] rgerkin commented on #94
Simplifications after you verify that the above formula works:

- Checkout a new working copy of `scidash/neuronunit`.  Make a fresh branch called `ghissue94`.
- Checkout your most up-to-date copy of `russelljjarvis/neuronunit@dev`.
- Move the `russelljjavis/parallelpyneuron/reproduce_error/Dockerfile` to e.g. `scidash/docker-stacks/ghissue94/Dockerfile`, then optionally delete `russelljjavis/para

[2017-09-09 12:41] apdavison commented on #103
It should be fixed now.

[2017-09-10 05:08] russelljjarvis commented on #94
So I think implied in this approach, is to use a slightly older version of /models/backends.py the one from your dev branch of informatics_poster.

If I try to use the new backends I get the error.

[code]

This is coming from line 191 of nsga_no_vm.py from your. branch of informatics_poster@dev, but __only__ when I try to patch it with the newer backends file.

Is it okay to use the older one?
[c

[2017-09-12 01:22] russelljjarvis opened #106 "get_spike_count, get_spike_train unimplemented."
In the file [https://github.com/scidash/neuronunit/blob/dev/neuronunit/capabilities/__init__.py#L50-L57](/dev/neuronunit/capabilities/__init__.py)

I think that definitions with a body that consists of: `raise NotImplementedError` are methods that are meant to be inherited inside child classes (ie raise NotImplementedError is a bit the same as `pass`.

I am at a stage at the moment where I am able

[2017-09-12 01:24] russelljjarvis opened #107 "unimplemented get_spike_count etc."
In the file [https://github.com/scidash/neuronunit/blob/dev/neuronunit/capabilities/__init__.py](https://github.com/scidash/neuronunit/blob/dev/neuronunit/capabilities/__init__.py#L50-L57
)

I think that definitions with a body that consists of: `raise NotImplementedError` are methods that are meant to be inherited inside child classes (ie raise NotImplementedError is a bit the same as `pass`.

I

[2017-09-13 20:55] rgerkin commented on #107
Duplicate of #106.

[2017-09-13 20:55] #107 closed

[2017-09-13 21:16] rgerkin commented on #106
`Capabilities` are meant to be implemented at the level of the `Model`, with the backend handling some of the backend-specific functions they may call.  For example, `ReducedModel` implements `get_membrane_potential` by calling `run` and then checking for information about membrane potential in the attributes of the model instance that `run` has hopefully added.  `run` is implemented by the parent

[2017-09-14 19:18] russelljjarvis commented on #90
Although model can be pickled and unpickled when it passed around between the hub and the clients, this happens at an expense. Every time [h,ns,_backends] are removed from the core of the NEURONbackend object, for the model to be any good model parameters need to be redefined in `hoc` each time the model is transported. Additionally the HOC membrane and time recording vectors need to be redefined.

[2017-09-15 04:52] russelljjarvis commented on #94
Since updating this thread last I may have encountered the source of some, but not all of these problems.

I had set the last line of the issue94 dockerfile to be:
[code]
the critical part is  `ipcluster start -n 8 --profile=default`

Its default behavior is to configure the clients/engines working directory then and there to be ```--workdir=`pwd````

Where the value of `pwd` is of course the last

[2017-09-19 20:27] russelljjarvis commented on #80
Actually ipyparallel supports integration with dask, and dask as a backend.

Dask has more mature documentation, in the sense that it is very realistic about performance improvements, and concerned that the code will not result in good enough utilization and efficiency of CPUs

https://gist.github.com/mrocklin/dc7fd426a6e405fef275

https://gist.github.com/mrocklin/dc7fd426a6e405fef275

dask also b

[2017-09-20 20:01] russelljjarvis commented on #90
I think we now agree, that the architectural model involving a container (like VM) that ships model_parameters and other attributes between CPUs should be retained, but the name of the container should be changed to DataTransportContainer in order to avoid confusion.

The diagram below illustrates the current program architecture.

https://www.draw.io/#Hrusselljjarvis%2Finformatics_poster%2Fmaster

[2017-09-20 20:01] #90 closed

[2017-09-22 21:10] rgerkin opened #108 "Fix the file copying (shutil) so that it only runs with the jNeuroML backend"
In the current implementation, it happens for all backends, which is pointless since e.g. NEURON doesn't need multiple copies of the file since it never writes to the file to update parameters.

[2017-09-22 22:24] rgerkin opened #109 "Separate all the tests out into their own files"

[2017-09-23 04:27] russelljjarvis opened #110 "aibs.py ran out of input."
This is an error I get using scidash/devs latest version of aibs.py/get_neab.py
[code]

[2017-09-25 23:08] rgerkin commented on #110
I cannot reproduce this error in the current version of the dev branch:

[code]
prints `Getting Rheobase data value for from AIBS dataset 354190013`
and running it again:
[code]
uses the newly created cached version and prints: `Getting Rheobase cached data value for from AIBS dataset 354190013`.

So things appear to be working.  Maybe the Allen Institute web service was down earlier?

[2017-09-26 00:01] rgerkin commented on #110
It's also possible your cached aibs.db file (or whatever it is called) just got corrupted so delete it and try again.

[2017-09-26 23:07] rgerkin commented on #94
Closing this because it is either fixed or is obsolete with the current version of the Backend implementation.

[2017-09-26 23:07] #94 closed

[2017-09-26 23:12] rgerkin commented on #103
This actually should have been a sciunit issue and now with Andrew's update I am resolving it with [this](c6dcf19d6b00f7f12fd9ec160434ce2e92d505d8) change.

[2017-09-26 23:12] #103 closed

[2017-09-26 23:14] rgerkin commented on #77
Finished in russelljjarvis/neuronunit@dev, will be finished when the pull request from there is merged.

[2017-09-26 23:14] #77 closed

[2017-09-26 23:17] rgerkin commented on #25
This is provisionally working in `neuronunit/bbp.py` but needs a `get_observation` function by analogy to the `aibs.py` module.

[2017-09-26 23:18] rgerkin commented on #106
This is probably either fixed or obsolete with the new Backend implementation.

[2017-09-26 23:18] #106 closed

[2017-09-26 23:18] rgerkin commented on #66
I think this is fixed or obsolete with the new Backend implementation.

[2017-09-26 23:18] #66 closed

[2017-09-26 23:25] russelljjarvis commented on #110
I assume that I am doing something wrong when I am replacing local files. Since this is no the main priority of the merge. I will assume you are right and investigate later.

[2017-09-26 23:26] rgerkin opened #111 "Figure out how to handle local XML imports in XML files"
I have an application that requires that I copy a LEMS file to a temporary directory before using it.  However, many files have Include directives, and these directives might point to relative includes (just the name of an .xml file in the same directory), global includes (a full path to an .xml file; actually I didn't see this in the specification but it seems to work), or includes expected to be

[2017-09-26 23:27] rgerkin commented on #111
Padraig replied:

Certainly rewriting the LEMS file might be a solution, but as you say it may be tricky with a mix of relative and absolute paths. Note thought that you don't have to worry about specifying the paths to Cells.xml, Channels.xml etc. as these are found inside the jnml jar.
A better solution, based on the assumption the LEMS file as generated in the original location has a consistent

[2017-09-26 23:27] rgerkin commented on #108
Right now this is all mixed up with the file parsing and text/replace stuff related to local XML imports described in #111.

[2017-09-26 23:52] rgerkin commented on #108
Should be fixed in 38882d3680ba33fc78165f7fd565b5a0cb8a39e6.

[2017-09-26 23:52] #108 closed

[2017-09-27 00:05] russelljjarvis commented on #99
Still on the cards. Need to get more fundamental functionality back first.

[2017-09-27 00:15] russelljjarvis commented on #95
The same or similar functionality can be achieved by pulling observations/predictions out of score, and storing them in lists.

[2017-09-27 00:15] #95 closed

[2017-09-27 18:50] russelljjarvis commented on #110
I agree this problem dissappears if you can achieve the right versions/combinations of files.

[2017-09-27 18:50] #110 closed

[2017-09-29 01:36] rgerkin commented on #111
It should be easy enough to just leave the files alone and use the new -l flag in jNeuroML.

[2017-09-29 01:36] #111 closed

[2017-09-29 03:48] rgerkin commented on #105
Added status checks that skip tests if those checks indicate that the URL is down in 65992055b7cafcfa8ef3656dc0a764e285e82b3a.

[2017-09-29 05:14] russelljjarvis opened #112 "Tests call model methods which are only implemented in backend"
every model call to inject_square_current in tests/__init__.py (there is rather a lot), needs to be called with `model._backend.inject_square_current`. Unless I fix models/__init__.py to have its own
[code]
method, which I will do tomorrow.

[2017-09-29 15:14] rgerkin commented on #112
@russelljjarvis
This is going to occur in more places than I anticipated.  Two fixes that I think will be needed:
- Change the LEMSModel so that `__getattr__` first checks its own attributes and then checks the backend's attributes.  Then it will just automatically find whichever one exists.  I implemented this in d2a00ffc9581a3f63d2c6283ee07178e16b541eb.  This was the "level 4" solution I talked

[2017-09-29 16:02] rgerkin commented on #109
@russelljjarvis I've done this in a938400bb9aba4b701f20fe74edc64b8ca980064.  It may cause some problems at first, although I've added the namespaces of all the new files to tests/__init__.py, so maybe it will be fine.  It may be missing some imports though so you can add those back (or I will).

[2017-09-29 16:02] #109 closed

[2017-09-29 20:14] rgerkin commented on #89
@russelljjarvis I am working on this quite a bit today.  I will be avoiding the NEURON backend and just testing using the jNeuroML backend, but it will be easy to change one value to test using the NEURON backend later.

[2017-09-29 20:35] russelljjarvis commented on #89
Great, great.

On this issue I can't figure out if NEURON should share exactly the same implementation as jNeuroML. Reading and writing from memory will obviously be faster than reading and writing from disk.

It seems there are only two different types of current injection occurring inside the eight tests of the test suite. So it would seem that 8 simulations can be collapsed into 2 simulations.

[2017-09-29 20:49] rgerkin commented on #89
@russelljjarvis
Yes, the caching of simulated results is something we will want to make sure we do.

In a serial implementation, this should happens automatically in the `run` method of LEMSModel shown [here](https://github.com/scidash/neuronunit/blob/6813d8cda4543e1634e121cd51b3712d10c023f9/neuronunit/models/__init__.py#L132).  If the run parameters are the same it should just look up the results

[2017-09-29 20:51] rgerkin opened #113 "Caching of results to avoid redundant simulations across processors"
See 3rd and 4th comment in #89.

[2017-09-29 22:15] russelljjarvis commented on #89
Yes, I mean as far as the GA is concerned, it shouldn't really sample the same parameter set twice. Although techincally there is no rule to exclude the possibility of a duplicated sampling. Given 10 psuedo random number processes each of which generate approximately real numbers inside a discrete interval, I think its unlikely that the GA would sample exactly the same parameters twice.

Additiona

[2017-09-29 22:28] rgerkin commented on #89
@russelljjarvis
Back to the original topic, I have a created a lot of new tests in `unit_test/core_tests.py`.  They are all passing for me right now.  The pattern I am using is:
[code]
You can also change it to `-bvf` if you want it to stop after this first error (if you have one).  Some tests are currently skipped by design.

If you use the abstract `TestsTestCase` class in `core_tests`, you will

[2017-09-29 22:34] rgerkin commented on #112
@russelljjarvis
I fixed enough of these to pass my unit tests, but there are probably still more to fix especially in the `NEURONBackend`.  My principle for deciding how to fix them is as follows: if the attribute X is something that ought to exist independently of the backend (e.g. attributes of the model), and the backend needs to access it, then the backend should access it at `self.model.X`.

[2017-09-29 23:29] russelljjarvis commented on #89
AOK. Sounds good.

[2017-10-01 05:39] russelljjarvis opened #114 "How to pass arguments into unittest _test methods."
I succeeded in creating a parallel versus serial rheobase test.

Typical output for default param Izhikivitch model is:
serial time 292.6495084762573
parallel time 46.785799980163574

sciunit score serial 0.6915871868725569
sciunit score parallel 0.6911871101078924

Actual predictions: serial
 {'value': array(52.08333333333333) * pA}
Lowest suprathreshold current is 52.15 pA
Highest subthreshold c

[2017-10-01 18:59] rgerkin commented on #114
There is a `setUp` method you can override that will always get called before all the other `test_*` methods in the class.  You can create some class attributes there that can be written to in your other tests.  Perhaps the rheobase test can write the value of e.g. the rheobase current to it (e.g. `self.rheobase_value`, and then the other tests can access that value within their test method to par

[2017-10-02 18:53] rgerkin opened #115 "Test suite attribute for test weighting"
Every `TestSuite` should have its score determined by weighting the scores of the component tests.  Currently, the weights are all equal, so the total `TestSuite` score is simply the mean of the `sort_key` attributes of the component tests.

The attribute should be called `weights` and there should be possible to pass it as an argument to the constructor or to change it at anytime.  It should also

[2017-10-02 18:59] rgerkin commented on #115
This belongs in scidash/sciunit.

[2017-10-02 18:59] #115 closed

[2017-10-02 23:11] russelljjarvis commented on #114
AOK I have decided to go with the pragmatic but slightly less rigorous approach that you describe, whereby setUp defines some class attributes that are accessible in subsequent _test methods.

[2017-10-02 23:11] #114 closed

[2017-10-04 18:28] russelljjarvis opened #116 "Caching simulator runs within tests."
In current use-case of neuronunit, 8 tests all draw from only 2 types of current injection type (2 simulator runs).

Action of the NSGA algorithm is supposed to avoid sampling twice from exactly the same parameter space, so I do not think it is worth pursuing a memory intensive option of storing all V_{m}'s in a dictionary where keys to those dictionaries are model attributes. As alternative to mo

[2017-10-04 19:18] rgerkin commented on #116
@russelljjarvis
The relevant code is [here](https://github.com/scidash/neuronunit/blob/9bc1e14dd360c08e1888baa8921a319ba39617c3/neuronunit/models/__init__.py#L61) where the `options` dictionary is calculated.  Note that the `options` dictionary replaces "Backend" with "", so the name stored in each key would be e.g. "jNeuroML" instead of "jNeuroMLBackend".  Similarly, the name you want to use for

[2017-10-04 20:08] russelljjarvis commented on #116
AOK. I think I see what your saying. I can de-duplicate a lot of code if inside the over-ridden`local_run` method I call the local_run to be over-ridden, as the second line.

[code]

[2017-10-04 20:18] russelljjarvis commented on #116
Also on the issue of caching per model attribute, results/V_{s}. I thought, that I should try to verify my claim, that the same model attributes are not re-evaluated frequently enough, that the cost of storing the simulation results would out weigh performance costs of de duplication of workload.

To verify. I could have a dictionary `self.model.cached_attrs` that I use to count the number of time

[2017-10-04 21:30] rgerkin commented on #116
@russelljjarvis I suspect the number will be low but you can certainly check.

[2017-10-04 21:36] rgerkin commented on #105
I'm going to ignore the requirement to add cached data to the unit test.  It is probably best if it reports "skipped" if the site is down and otherwise uses the site.  Then I get a clean error if the site is up but returning the wrong data or data in a format that is unexpected by the unit test.

[2017-10-04 21:37] #112 closed

[2017-10-04 21:40] rgerkin commented on #97
Implemented in aec770c75702db0646edaec4981de8f1094f47eb and b8e261e7688d34ba425abbc81244e099255f3757

[2017-10-04 21:40] #97 closed

[2017-10-05 16:51] rgerkin commented on #89
@russelljjarvis
See the new modular structure of the unit_test directory [here](https://github.com/scidash/neuronunit/tree/dev/unit_test).
From the main neuronunit test directory, you can run e.g. `python -m unittest -bv unit_test.core_tests` to run all the unittest classes imported in core_tests, or you can run a subset of tests, e.g. `python -m unittest -bv unit_test.doc_tests`.

We can also now

[2017-10-05 17:08] russelljjarvis commented on #89
Thats interesting. Is it that it compares the directory full of source code with the methods found in the `unit_tests`, and the coverage is how much overlap there is in both.

[2017-10-05 21:41] rgerkin opened #118 "Add badges for coveralls.io and requires.io"
- [x] Coveralls
- [x] Requires

[2017-10-06 15:56] rgerkin opened #119 "Mac issues with NEURON"
I have nailed the segmentation fault issue on the Mac down to the fact that:
`import LEMS_2007One_nrn`
runs fine, but:
[code]
produces the segmentation fault.  Of course both of these work fine in Linux or Docker.

I am going to post the issue in the NEURON forums.  I think the problem is that whatever things are getting loaded in the auto-generated neuron python files are not getting disposed of

[2017-10-07 00:00] #116 closed

[2017-10-07 00:01] rgerkin commented on #104
SciUnit is now building successfully in RTD.  I think once I get the latest SciUnit on pypi and rely on that instead of having a dependency link to SciUnit on GitHub, the neuronunit docs will build, too.

[2017-10-07 00:02] rgerkin commented on #113
Progress in 26527cf0f1807c4f6e44f8cebcb591d46840dc3d

[2017-10-10 00:36] russelljjarvis opened #120 "Trying to figure out what is goodness of fit"
Is a prediction that is less than a power off 10 order of magnitude fit from observation considered good enough?

Generally all the predictions are inside the interval: `[10*observation, 0.10*observation]`, but they don't seem to make close fits inside of that interval.

Below are some examples of `sciunit` scores that I am unsure about. The tables could both be confirming that `sciunit` score.sor

[2017-10-10 06:03] rgerkin commented on #120
@russelljjarvis
Remember that we are dealing with observations that have a mean and a standard error, and sometimes this standard error is very large.  So the ratio you get might be 0.5, but it might still be well within the confidence interval because the literature reports values that vary by more than a factor of 2.  So in terms of the resulting model "being realistic" it should be a concern as

[2017-10-10 06:19] rgerkin commented on #89
@russelljjarvis I added coveralls support for SciUnit, as well as a bunch of unit tests that now cover 83% of it.  You can see the report [here](https://coveralls.io/github/scidash/sciunit), which is automatically generated every time Travis runs (and all the unit tests pass).  I don't know how high we should aim with NeuronUnit, but I think we can definitely get over 60%.

[2017-10-11 02:20] russelljjarvis commented on #120
AOK. Sounds good.

[2017-10-11 17:45] russelljjarvis opened #121 "rescale needed in backends line 472"
If line 472 of backends is made to read:
[code]
Rather than:
[code]
as it currently stands, time constant tests and related tests will have better predictive power. Without rescaling by 1000.0 sciunit/quantities believes that NEURON units are in seconds, rather than milli seconds.

https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/backends.py#L472

[2017-10-11 17:52] #121 closed

[2017-10-11 17:52] russelljjarvis commented on #121
Closed, as provided simple fix.

[2017-10-12 21:16] rgerkin opened #122 "pyneuroml compiles NEURON files but then neuronunit can't find them"
Currently the NEURON code is being compiled in a temporary directory passed to pyneuroml, but then neuronunit doesn't know about that temporary directory.  Since the NEURON backend doesn't really need temporary directories, let's just have the NEURON code compiled in the directory of the LEMS file, and then neuronunit should automatically look there for it.

[2017-10-12 21:45] rgerkin opened #123 "Create aux_tests to run the unit tests that get skipped in core_tests"
Set up some of the skipped tests with the `unit_test.skipIf` decorator, using a flag that is set to `True` in `core_tests` and to `False` in `aux_tests`.

[2017-10-12 21:49] rgerkin opened #124 "Create TestSuite.local_explore"
Add an brute force search of the TestSuite for values of the model parameters that are just above and just below the current values of the parameters.  This is a way to examine the curvature of the error surface near the current model parameter values.  The output should be a table with one line per set of model parameters.

[2017-10-12 22:15] rgerkin commented on #89
Once #123 is implemented we will be able to run the slow unit tests (e.g. searching for the rheobase) and the ones that require parallel execution instead of just the fast serial ones.

[2017-10-12 22:23] rgerkin opened #125 "Allow the grid search to be run with specified parameters and number of grid points per parameter"

[2017-10-13 23:22] rgerkin commented on #119
[Thread](https://www.neuron.yale.edu/phpBB/viewtopic.php?f=8&t=3757) on the NEURON forum

[2017-10-17 03:53] russelljjarvis commented on #27
PyNN is not a self sufficient backend, it, itself uses BRIAN, NEST or NEURON as a backend.

However this is still a worthwhile pursuit as PyNN provides a very clean and minimal interface to NEURON.

Example of a pyNN NEURON backend as I envisage:

[code]

[2017-10-17 15:55] rgerkin commented on #27
@russelljjarvis
I think this is a good start.  In some cases this may be the very easiest way to work with the models, since NEURON commands can be confusing and cryptic, and PyNN may abstract some of this away.

To deal with model independence, we will have to rely on the user providing a lot of the PyNN code themselves.  For example, maybe we leave self.neurons empty and if a method tries to acc

[2017-10-18 01:11] russelljjarvis commented on #125
This is the exhaustive search script we were discussing on Thursday.

It might be a good idea to edit line 77 to be consistent with the following two lines.

npoints = 1
nparams = 1
Just to verify on your machine that the script is producing expected output on a 1 parameter, 1 sample search. Also I have recently added in the the line, which filters out models where the rheobase current injection v

[2017-10-24 05:23] russelljjarvis opened #126 "Old travis/docker file."
It would be cool if I could run my new non-core unit_test, tests using Travis-cl but by using a docker container that will go a bit further than anaconda, in enabling `ipyparallel` etc.

I think scidash/neuronunit used to have a good travis file (that I could use as a template), that pulled from docker-stacks, but I can't find it. I wonder if it might be in scidash/assets or something?

[2017-10-24 21:30] russelljjarvis commented on #116
I am also addressing this in unit testing:
https://github.com/russelljjarvis/neuronunit/blob/dev/unit_test/testNEURONparallel.py#L91-L111

set is an iterable, except unlike list its composed of only unique elements, so if I cast list to set and then get the length, the length of set should be reduced relative to before the cast. I am performing this operation on a list of 10,000 randomly generated

[2017-10-24 22:27] rgerkin opened #127 "Programatically extract units from LEMS file for use with normalizing simulation output"
The backends have no way of knowing what the units are (either their dimensions or their magnitudes) and so right now some guesses are hardcoded into the sections of the code that extract the results from the simulation.  This might cause problems if these units are changed in the simulation, for example if people use mV instead of V, or change the timestep.  See the discussion [here](https://gith

[2017-10-24 22:43] rgerkin commented on #126
Take a look [here](https://github.com/scidash/neuronunit/commit/ac265370fe6https://github.com/scidash/neuronunit/commit/ac265370fe672ab7105f5dad1bc2cf6d62a31c06?diff=split72ab7105f5dad1bc2cf6d62a31c06?diff=split).  The left side is what the Travis file looked like when we were relying on Docker, so you can use something like that as a template.

I propose that you create a new branch that contains

[2017-10-24 23:22] rgerkin opened #128 "Does NEURON import check work correctly on all platforms?"
https://github.com/scidash/neuronunit/commit/58ac8899dea1c7ee7cfe41fd6c9a4d6adcbda6bd#commitcomment-25061026

[2017-10-24 23:40] russelljjarvis commented on #126
AOK. The link to the diffing was broken (it's probably only visible from your login to GH) but I think I found a helpful enough version by splitting the link in half, which reveals the commit where the development switched away from annonda.

https://github.com/scidash/neuronunit/commit/ac265370fe672ab7105f5dad1bc2cf6d62a31c06?diff=split72ab7105f5dad1bc2cf6d62a31c06?diff=split

[2017-10-26 21:06] rgerkin commented on #125
[This](https://github.com/russelljjarvis/neuronunit/blob/dev/unit_test/test_exhaustive_search.py) is the script we want:

Run from [this](https://github.com/russelljjarvis/ParallelPyNEURON/blob/master/dev/Dockerfile) docker image.

With [this](https://github.com/russelljjarvis/ParallelPyNEURON/blob/master/dev/on_entry_point.sh) script to setup the IPython cluster from within the image.

[2017-10-26 22:01] rgerkin commented on #105
Reopening because even when the status check pass, the site still sometimes times out during the actual test.

[2017-10-26 22:02] rgerkin opened #130 "TimeConstantTest gives different results in Python 2.7 and 3.x"
This is preventing neuronunit/master from passing.

[2017-10-30 00:40] russelljjarvis commented on #130
Hi @rgerkin
Is the stack trace from the failure like this the output below? If so, this bug is effecting me too.
[code]

[2017-10-30 00:41] russelljjarvis opened #131 ".travis.yml unit testing on test specific branch working (minimally)"
branch is called test_branch
https://travis-ci.org/russelljjarvis/neuronunit
TODO:

    silence date time warnings (warnings.filter) does not work, by copying custom ipyparallel.util file.

    make minor fixes, that are required to make unit_test cases pass.

    about 50% pass, some fail for environment dependent reasons.

[2017-10-31 05:45] rgerkin commented on #130
No, there is no stack trace, just two different results in the different version of Python (i.e. two different scores).

[2017-10-31 07:18] #118 closed

[2017-11-01 02:10] russelljjarvis commented on #130
Okay.

[2017-11-01 05:08] rgerkin commented on #105
Should be fixed now with 54d1d9082ae609157b818c6e9608f962dd89a9ee

[2017-11-01 05:09] #105 closed

[2017-11-01 05:32] rgerkin commented on #119
I documented a complete NEURON + Miniconda 3 installation on Mac [here](https://github.com/rgerkin/neuron-python3-miniconda) with CI testing.

[2017-11-01 05:32] #119 closed

[2017-11-01 05:35] rgerkin commented on #113
Example shown in [this](https://github.com/scidash/neuronunit/blob/master/neuronunit/unit_test/cache_test.ipynb) notebook.

[2017-11-01 22:21] russelljjarvis commented on #130
This possibly unrelated error I am seeing is just a dimensionality/syntax problem. I suspect it has something to do with the interaction between neo and python3.5

In get_tau.py test:
[code]
could be
[code]
This yields:
satisfying the get_tau test.
Estimated tau = 7.195 ms; Actual tau = 7.0 ms

Likewise, line 75 of passive reads as:
[code]
But it could be:
[code]

[2017-11-01 22:41] russelljjarvis opened #132 "Problems with neo/python3.5: AttributeError: 'AnalogSignal' object has no attribute 'time_slice'"
After satisfying previous problem with dimensions of array in time constant test:
[code]

[2017-11-02 04:20] russelljjarvis commented on #125
Note also this might not currently work due to passive tests failing because of neo/python3.5 interaction problems.

[2017-11-02 05:05] rgerkin commented on #132
I'm not having this problem in the master branch.  Can you give me a formula for reproducing it?

[2017-11-03 21:43] rgerkin commented on #125
When we tried it out together, it appeared that the parallel rheobase test was working fine, but the other parallel part (running the other tests) was hanging.  It seemed to work fine when that part was made serial.  Can you follow up on this and figure out why it isn't working?  I think that everything may work after this is figured out.

[2017-11-03 21:44] rgerkin commented on #132
This appears to be related to having the wrong version of Neo or NeuronUnit in your Docker container.

[2017-11-03 21:44] #132 closed

[2017-11-03 22:02] rgerkin commented on #122
Fixed in 58ac8899dea1c7ee7cfe41fd6c9a4d6adcbda6bd

[2017-11-03 22:02] #122 closed

[2017-11-03 22:06] rgerkin commented on #29
As MyBinder is essentially dying/dead, maybe it would be better to move this to something like Microsoft Azure Notebooks or another service.  Title changed to reflect this.

[2017-11-03 22:08] rgerkin commented on #120
@russelljjarvis Any other thoughts on this matter?  Or shall I close this?

[2017-11-03 22:08] rgerkin commented on #75
@JustasB Did you ever make anything like this in your work?

[2017-11-03 22:11] rgerkin commented on #113
@russelljjarvis The plan is to get your exhaustive search script working using your current  caching implementation, and then I'll switch to mine and see if it works, and if it a) produces the same results and b) is faster, slower, or about the same.  If a=True and b=Not slower, then I suggest we replace your caching implementation with mine which should be more general (i.e. can apply across more

[2017-11-04 04:27] rgerkin commented on #128
It appears to work everywhere.

[2017-11-04 04:27] #128 closed

[2017-11-04 04:43] rgerkin commented on #126
See also scidash/docker-stacks#24 for another idea.  Basically, you create a Docker container with all the stuff you need, and when it is built, you push it to Docker Hub/Cloud, and Travis tests it with a simple script.

[2017-11-04 04:44] rgerkin commented on #131
What is the status now?

[2017-11-04 18:34] russelljjarvis opened #133 "Tracking down the source of statement: 'Mechanisms already loaded from path: ... Aborting.' in NEURON runs"
The statement:
'Mechanisms already loaded from path: /home/jovyan/neuronunit/unit_test/NeuroML2.  Aborting.
may be intrinsic to NEURON runs, but it is not something I am familiar with. Previously I thought it had something to do with automation of jNeuroML template code, it should only probably run once for a bootstrap of a NeuroML model to a NEURON model in memory, but it probably should not occu

[2017-11-04 18:44] russelljjarvis commented on #133
Actually I suspect the statement needs to be there.

[2017-11-04 19:04] rgerkin commented on #133
My experience with this motivated lines 384-402 of [backends.py](https://github.com/scidash/neuronunit/blob/master/neuronunit/models/backends.py).  If the program was run from the same directory as the NEURON files, then the mechanisms would already have been loaded by NEURON, and so trying to load them again with `self.load_mechanisms()` would cause the error you mentioned.  So in the lines I men

[2017-11-04 20:01] rgerkin commented on #70
@russelljjarvis I think this has been taken care of, right?

[2017-11-04 20:03] rgerkin commented on #71
@JustasB Have you made it so?

[2017-11-05 20:15] russelljjarvis opened #134 "Exhaustive search generates iterator, computes rheobase, but then hangs."
After spending some time investigating this issue, I am starting to think that there might be problems to do with simultaneous file writing in get_neab.py. It is well documented that simultaneous parallel file writing leads to thread lock, and not only that these operations are unnecessary anyway. I will try to change the use and implantation of get_neab to stop threadlocking. Also it is unclear h

[2017-11-05 21:22] rgerkin commented on #134
So you are saying that the GA doesn't hang but exhaustive search does due to this issue?

[2017-11-05 22:26] russelljjarvis commented on #134
I believe so, although that defies common sense because the GA is more complex.

[2017-11-05 23:45] russelljjarvis opened #135 "How to create unique integers label that label CPUs that can be used as global identifiers (gids)."
https://github.com/ipython/ipyparallel/blob/master/examples/itermapresult.py#L32-L36
I have tried this, and it does not quiet work as it should.
[code]

[2017-11-06 03:13] russelljjarvis commented on #134
[This](https://github.com/russelljjarvis/neuronunit/tree/functional) code works better. It errors for a different reason (capabilities/spike_functions reasons), where I accidentally changed the capabilities/spike_functions.py code as I was not installing                       'neo==0.5.2' by default.

I do not understand the critical difference between russelljarvis/functional and scidash/test_bra

[2017-11-06 21:35] russelljjarvis commented on #133
The source of the statements is actually: https://github.com/scidash/neuronunit/blob/master/neuronunit/models/backends.py#L411
[code]
It is a pynml file read, that happens on every run, because the cell_name and current source names defy convention. It might be faster if this occurs only once and it then updates variables in the file appropriately:
[code]

[2017-11-06 21:50] russelljjarvis commented on #125
I currently have a branch that is working some of the time.
This travis build shows a particular error in reading from get_neab.py
It occurs sporadicly on different CPUs.
https://travis-ci.org/russelljjarvis/neuronunit#L3460-L3709
I am getting the sense that the CPU running the job just waits there, and the rest of the CPUs continue on. Eventually the list dtcpop will be missing dtc objects when a

[2017-11-07 01:45] russelljjarvis commented on #125
I believe I now have a build that runs reliably in the cloud. My solution was to eradicate all sources of parallel file writes (basically any dumps statement even json dump).

https://travis-ci.org/russelljjarvis/neuronunit#L2417-L2421

This meant editing `neuronunit/neuroelectro.py` such that `dump/` and `dumps` where erradicated and I also did git add neuroelectro.* such that neuroelectro.dir, a

[2017-11-07 03:32] rgerkin commented on #125
Maybe we can make a list of all wrap all file writing commands in a special sciunit verison (e.g. use a new `sciunit.json.dump` instead of `json.dump`) which can be context aware, using a global flag that indicates whether it should be skipped, and we can set this flag whenever we do any parallel jobs.

[2017-11-07 03:33] rgerkin commented on #125
Also, you referred to both `dump` and `dumps` as a source of problems, but `dumps` just writes to a string, not to a file.  Are you sure that `dumps` is also a problem?

[2017-11-07 05:37] russelljjarvis commented on #125
No I am not actually sure. I know the problem is with the writing operations from the neuroelectro.py file generally, but I agree with you the dumps should just be a memory operation. I think the last thing I changed in that file when it worked was json.dump.

I agree that there needs to be a context aware way of doing these file writes. Also it's not that parallel code can't do any file writing,

[2017-11-07 19:53] russelljjarvis commented on #135
The way to use the reference is to apply it on the workers:
[code]
[code]
I believe the way to do parallel safe file writing, is to make temp files whose names are dependent on unique CPU labels, since each CPU writes to a different temp file, none of the CPUs can corrupt the others files. The only problem is file reads would have to depend on the same operation.

[2017-11-07 19:53] #135 closed

[2017-11-07 19:56] russelljjarvis commented on #125
Also I wrote the above late at night, there is another way to make parallel writing parallel.
You can use the approach described here:
https://github.com/scidash/neuronunit/issues/135

 I believe the way to do parallel safe file writing, is to make temp files whose names are dependent on unique CPU labels, since each CPU writes to a different temp file, none of the CPUs can corrupt the others file

[2017-11-08 22:47] russelljjarvis opened #138 "NEURON backend models, should have an optional keyword DTC object argument in the constructor"
This might neaten up DTC-> neuronunit model update steps, and it could also provide a means to store `current_source_name`, and `cell_name` in DTCs and have them update models each time a new model object gets minted, with the advantage that a disk/file read could then be replaced with a memory read.

[2017-11-09 15:28] rgerkin commented on #138
As it stands the `backend=` kwarg of the model doesn't just have to be a string like "NEURON", it can be a tuple (see [here](https://github.com/scidash/neuronunit/blob/master/neuronunit/models/__init__.py#L52)).  In that tuple, the first item should be the name (e.g. "NEURON") and then subsequent items can be args (as a list) and kwargs as a dict.

So, for example:
`backend = ("NEURON",[1,2,3],{'a

[2017-11-10 07:22] rgerkin opened #139 "Merge progress report"
@russelljjarvis
I think I'm close on getting the `russell` branch working, but I wanted to note a few things I've seen running `test_exhaustive_search.py`.
1) Your `inject_square_current` had a `self.set_attrs(**self.attrs)` call that was problematic because a) The backend (`self`) has no `attrs` (only the model does) and also because the only thing I could imagine putting there, is the model attr

[2017-11-10 07:25] rgerkin commented on #139
I should also note that even the simple `jnml LEMS_2007One.xml -neuron -run` finishes a simulation with:
[code]
but then hangs, so there may be something messed up about my version of NEURON (I don't think it is Mac related, just related to new version of NEURON I compiled).

[2017-11-10 18:03] russelljjarvis commented on #139
Is this NEURON-7.5 ?

[2017-11-10 18:51] rgerkin commented on #139
Yes

[2017-11-10 20:30] rgerkin commented on #139
Actually, I'm having the same problem with NEURON 7.4 (just compiled from source), i.e. where `jnml LEMS_2007One.xml -neuron -run` finishes but then hangs.

[2017-11-10 20:44] rgerkin commented on #139
I think I figured it out.  First, for some reason the generated python file is trying to write results into a `results` directory that does not exist, so I just created an empty one.  This is also solved by editing the LEMS file, which is something I think I did a long time ago (we have been using that one for a long time), but it returned when I updated to the new version of the model.  So I fixe

[2017-11-10 21:16] rgerkin commented on #139
OK, it's running now (so far), and here's what I did:

When I stopped setting `cell_name` and `current_src_name` to `None`, it still had problems because other parts of the code expected these to be set, and they are otherwise only set in the `more_attributes` section at the end of `load_model`.  But I think there are other places in the code that are requesting them before `load_model` is called,

[2017-11-11 00:43] russelljjarvis commented on #139
Okay, great work. Sorry for my part in making this a difficult merge for you. I have been thinking a lot about continuous integration and git commits.

[2017-11-12 23:13] rgerkin commented on #139
The parallel rheobase test now runs if used to test one model one time (in a notebook).  The problem I had before was that when I started using the new Izhikevich model files, which use an "include" directive to include most of the important parameters, your `more_attributes` section was not successfully reading them, because the `pynml.read_lems_file` call doesn't read included files by default.

[2017-11-12 23:33] russelljjarvis commented on #139
I am reasonably confident that the hanging is due to this travis build is a useful reference point, as it shows the execution of the code of test_exhaustive_search including nsga_parallel.py without hanging:
https://travis-ci.org/russelljjarvis/fdcheck

Previously the method `pre_format` was parallel, but it is not a significant overhead, and I associate the serial mapping with not the code not ha

[2017-11-13 02:39] russelljjarvis commented on #80
A pure dask implementation might allow for nested calls to map_reduce.

Also python-intel distributed has since been released, but it comes in binaries only, so it is not really open source I guess.
https://software.intel.com/en-us/distribution-for-python/features

[2017-11-13 22:32] rgerkin commented on #139
I've gotten pretty far now, but am now getting this error:
[code]
I will look into it further tomorrow unless you have any thoughts before then.

[2017-11-13 23:55] russelljjarvis commented on #139
AOK. The general idea is this:
1 Find the DTC emanating from the GA with the best score.
2 Find the DTC emanating from the grid search with the best score and the worst score, making it possible to compute a range from highest to lowest scores.

3. The missing part. Take the 3 different DTCs above, and find their average scores.
4. Compute the range
5. divide the range into ten (quantize) to check

[2017-11-14 11:06] gidili opened #140 "Serialization test on master not working anymore"
Hi @rgerkin - was looking at the [sample serailization test](https://github.com/scidash/neuronunit/blob/master/neuronunit/unit_test/serialization_test.ipynb) you pointed us to to check for any json changes but the sample is not loading anymore. I am assuming due to the changes you were mentioning... can you have a look or point us to another up to date example?

[2017-11-14 20:50] rgerkin commented on #140
Could you describe the error you are getting?  The changes I mentioned was in the .xml file being used, but that is only in the non-master branches.  As far as I can see, the serialization notebook still runs fine in the master branch.

[2017-11-14 21:34] rgerkin commented on #139
OK, it all runs now (with that and a few other small fixes).  However, I would like to check the output I am getting against the output that you are getting.  Could you paste here any output (not the messages from running the simulations, but all the output from all the checks that begin with `def min_find`.  BTW, this is on my Mac, so that is a good sign.

[2017-11-14 22:06] gidili commented on #140
@rgerkin weird it was showing a message "could not load" now back to normal. Probably a github issue 🙈 I'll close this. Is the development branch a good place to grab the most recent json?

[2017-11-14 22:06] #140 closed

[2017-11-14 22:24] rgerkin commented on #139
I pushed my version [here](https://github.com/scidash/neuronunit/blob/russell/neuronunit/unit_test/test_exhaustive_search.ipynb) so you can see the output.

[2017-11-19 22:16] russelljjarvis commented on #125
I have recently changed the subset code such that you can give a list of parameter keys, instead of being forced into using specific keys due to a default pattern of enumerating over the model_params dictionary.

[2017-11-27 21:22] rgerkin commented on #138
If you write a simple unittest for this (which fails, presumably), I can take a look at it and see why it fails.

[2017-12-01 23:41] russelljjarvis opened #144 "This is an error I am getting in the context of large exhaustive search runs."
I don't understand what is causing it.

I have disabled include_includes to check if this helps.

[code]

[code]

[2017-12-02 16:47] rgerkin commented on #144
Could you verify from the worker stdout that the `lems_file_name` is the same as the lems_file_name you are expecting (i.e. a real file on disk that exists).  You may need to edit your `pynml.py` source to ensure that `print_comment` actually prints (I think there is a flag that turns it on and off... this may be the `debug` argument in the function you can see just above it in the stack.  Then we

[2017-12-05 21:17] russelljjarvis commented on #80
I actually think we should switch to dask sometime in the future. This is based on what the primary author of ipyparallel recommends on stackexchange.

Dask is just as ipython friendly as ipyparallel, however I think it's also a more versatile tool, with more extensive documentation.

https://stackoverflow.com/questions/37998484/how-to-efficiently-chain-ipyparallel-tasks-and-pass-intermediate-resu

[2017-12-06 04:13] russelljjarvis commented on #144
AOK.

[2017-12-06 15:40] rgerkin commented on #80
I'm fine with it, but let's delay it until after the next release of NeuronUnit.  We really need to focus on code coverage, passing tests, and readable, documented code.  If IPyParallel passes simple tests but fails with very large optimizations, that is OK for the next release.

[2017-12-06 20:36] russelljjarvis commented on #80
I agree delaying the implementation but planning to switch is a good choice.

[2017-12-24 23:05] russelljjarvis opened #147 "DEAP+Tensor Flow."
Its probably worth checking if a Tensor Flow network that has some mapping to a GA can outperform my current algorithm.

https://github.com/calvinschmdt/EasyTensorflow/blob/master/easy_tensorflow/evolve_functions.py#L115-L346

[2017-12-24 23:13] russelljjarvis opened #148 "graphically improved ipython notebook"
I made this graphically improved ipython notebook designed to illustrate the efficiency of the neuronunit optimization:
https://github.com/russelljjarvis/neuronunit/blob/results/neuronunit/unit_test/test_ga_versus_grid.ipynb
I hope it is not too late for the next release.

[2018-01-02 00:17] russelljjarvis opened #149 "Spurious comma"
Spurious comma in repository rgerkin/pylems causing problems upstream in my dockerbuilds.
https://github.com/rgerkin/pylems/blob/master/lems/model/model.py#L41

[2018-01-16 19:32] rgerkin commented on #149
Fixed in rgerkin/pylems@414121f11d59ccaa4c0b9d7c0c9933a8c65fd2c5

[2018-01-16 19:32] #149 closed

[2018-01-16 19:44] rgerkin commented on #120
@russelljjarvis Any questions or comments?

[2018-01-16 19:45] #126 closed

[2018-01-16 19:46] #131 closed

[2018-01-16 19:46] rgerkin commented on #130
@russelljjarvis Is this still an issue?  I think it may have just been a matter of which version of neo was in use.

[2018-01-16 19:48] rgerkin commented on #125
@russelljjarvis What is the status of this goal?

[2018-01-16 19:57] rgerkin commented on #134
@russelljjarvis What is the status of this?

[2018-01-16 20:28] rgerkin commented on #138
@russelljjarvis Does this work for you now?

[2018-01-16 20:30] rgerkin commented on #133
@russelljjarvis Did this go away?

[2018-01-16 20:40] #20 closed

[2018-01-16 21:10] #139 closed

[2018-01-16 21:18] #120 closed

[2018-01-16 21:19] rgerkin commented on #113
For now I am just going to verify that this works well for various serial, grid search implementations.

[2018-01-16 21:22] rgerkin commented on #71
@JustasB Status report?

[2018-01-16 21:25] rgerkin opened #150 "Get Docker runs going on the Zues cluster"
Simpler than #64, this just involves getting the current optimization pipeline running on Zues using 50+ cores.

[2018-01-16 21:26] rgerkin commented on #56
For now we just need to do enough of this to push out 0.2, i.e. all if it needs to be outside the core of neuronunit, in the optimization directory, and extra cruft needs to be removed.

[2018-01-16 21:27] rgerkin commented on #29
Azure Notebooks will definitely be the best place for this.

[2018-01-17 03:13] russelljjarvis commented on #134
Fixed ages ago.

[2018-01-17 03:13] #134 closed

[2018-01-17 03:20] russelljjarvis commented on #148
With regards to the issue of where to store data that this notebook generates (GH is for source code not data).
I recently read:
https://www.nature.com/articles/sdata201618
Direct qoute:
"Apparently in response to this, we see the emergence of numerous general-purpose data repositories" ... to open globally-scoped repositories such as Dataverse7, FigShare (http://figshare.com), Dryad8, Mendeley Da

[2018-01-17 15:08] russelljjarvis opened #151 "resolve git history"
Resolve my own personal git history problems that are stopping me from merging:
```-b results russelljjarvis/neuronunit into -b dev russelljjarvis/neuronunit ```

[2018-01-17 18:52] rgerkin commented on #151
Let's take a look at this in person today and I can show you my strategies for this.

[2018-01-17 23:09] rgerkin opened #152 "Lazy parallelization"
https://tdhopper.com/blog/parallelizing-a-python-function-for-the-extremely-lazy/

[2018-01-17 23:11] rgerkin commented on #152
@russelljjarvis Check this out.

[2018-01-18 04:41] russelljjarvis commented on #151
Sorry I was not available today. I gave a presentation for an ethics class which involved a lot of preparation, it was a once in semester type thing, so I am free now. I am working on this issue again now however.

[2018-01-18 17:40] russelljjarvis commented on #152
Looks okay, but it seems like it needs to be invoked from BASH, which is one of the down sides of ipyparallel. I can imagine gnuparallel coming in handy for other routine jobs though.

[2018-01-18 17:44] #151 closed

[2018-01-18 18:11] #152 closed

[2018-01-18 18:35] russelljjarvis commented on #144
I have not had this error for a while.

[2018-01-18 19:06] #144 closed

[2018-01-19 20:59] rgerkin opened #154 "Add RRID to neuronunit page (github and scidash.org)"

[2018-01-19 22:29] #70 closed

[2018-01-19 22:50] russelljjarvis commented on #154
Scicrunch resolver is where you find the RRIDs:
https://scicrunch.org/resolver
| SciUnit, RRID:SCR_014528 |  
| NeuronUnit, RRID:SCR_015634 |
| neuroelectro (RRID:SCR_006274)  |

![rrids](https://user-images.githubusercontent.com/7786645/35175219-db79f72e-fd2f-11e7-8557-2b9b26e540e7.png)

The Allen Brain has several tools registered with RRIDs only one of them mentions an API, I think thats the on

[2018-01-20 17:37] JustasB commented on #71
I worked on the protocols in a separate private repo. My plan was to wait till you guys were finished with most of the large changes and integrate my protocols into NU then. With all the thrashing between my projects, I don't remember where I left off.

Either way, I think this should still be the goal as the fundamental separation between the protocol and feature extraction is still there.

[2018-01-20 17:38] JustasB commented on #75
I agree, see my response here: https://github.com/scidash/neuronunit/issues/71#issuecomment-359188246

[2018-01-22 18:37] russelljjarvis commented on #125
All of this is working. I believe.

[2018-01-22 18:37] #125 closed

[2018-01-22 18:55] russelljjarvis commented on #133
No, the statement is still present, for example:

[code]

[2018-01-22 20:27] russelljjarvis opened #155 "merge all my unit tests into one file test_aux.py"
merge all my unit tests into one file test_aux.py
Delete unused unit test functions.

[2018-01-25 00:12] russelljjarvis opened #156 "unit tests of neuronunit tests fail with serial NEURON"
unit tests of neuronunit tests fail with serial neuron because the latest backends no longer refreshes neuron models with current injection.

serial rheobase unit test not working with serial neuron as model,  /model/backends.py is no longer

refreshing the neuron model between runs as you would expect

adding in the line    `self.init_backend()` at 515 of backends.py  eg:

works.

[code]

[2018-01-28 00:55] russelljjarvis opened #157 "When backends NEURON lives in a new file, new model objects can't be minted."
reduced.py needs Backend NEURON to reside in the same file. One strategy might involve just making code climate ignore backends.py file. As shortening files may not always make code more maintainable.

[code]

At the bottom of neuronunit/models/backends.py I have:
[code]
possibly not the standard pattern for expanding out a module.

[2018-01-28 00:57] russelljjarvis commented on #156
This issue is resolved but not in the most 'maintainable', way. I welcome suggestions on a more transparent fix.

[code]

[2018-01-28 01:05] rgerkin commented on #157
`set_backend` does a check for which models live inside `backends.py`.  We can fix this by having it instead search inside `backends/__init__.py`, where we will have all the backends in the various other files (including `backends/neuron.py`) imported.

[2018-01-28 01:15] russelljjarvis commented on #157
How complicated would these expressions for searching look? If they are simple expressions than I agree.

[2018-01-28 03:25] rgerkin commented on #157
Simple.  I'll take care of it on Monday.

[2018-01-28 03:49] russelljjarvis commented on #157
Yes, actually come to think of it we need it for PyNN and Brian, you want backends to grow with increasing neuronunit support. We can't make the file ~1,000s of line long.

[2018-01-29 23:21] rgerkin commented on #157
See implementation in 294c0db9b8adb008ec48bcbe6c9737130302d970

[2018-01-31 23:51] russelljjarvis opened #158 "get_neab fails because aibs no longer returns all the relevant information."
Executing the lines:
[code]
Returns:
[code]
However something with keys: 'std', and 'sem' is expected instead. Not sure if this has something to do with caching.
[code]

[2018-02-01 00:19] russelljjarvis commented on #158
Attempting to execute:

https://github.com/rgerkin/IzhikevichModel/blob/master/AIBS.ipynb

reproduces this error, the top of AIBS.ipynb can be regarded as a more minimal working example.

[2018-02-01 00:37] russelljjarvis opened #159 "Optimizing Izhikitich model to fit CA1 and DG basket cell dynamics."
NeuroLEX and neuroelectro have references to CA1 and DG basket electro-physiology properties
fi_basket = {'nlex_id':'NLXCELL:100201'}

I want to create a NeuronUnit test suite based on this neuron or similar, however I can't find a basket cell in the Allen Brain Atlas cell types, that has an ephys value.

Can I just initialize the neuronunit test suite using a neuroelectro observation instead of a

[2018-02-01 17:29] russelljjarvis opened #160 "Scidash @ Open Science Frame Work."
A good data repository.

https://osf.io/fuwkg/

Facilitates synchronization, with DropBox, AWS3, GoogleDrive and Git.

[2018-02-01 18:27] russelljjarvis commented on #155
Working on this again now.

[2018-02-01 18:39] russelljjarvis commented on #152
dask does not need bash invocation.

[2018-02-01 19:38] russelljjarvis commented on #159
Moving this issue to a more appropriate home.

https://github.com/russelljjarvis/DataAnalysisComputationNeuroscience/issues/2

[2018-02-01 19:38] #159 closed

[2018-02-07 00:03] russelljjarvis commented on #160
This is a python API for pulling and pushing files and data to OSF. Actually recovering this link with google search is not easy. Bloated GUI based or curl/Restful APIs for OSF are a lot easier to come by via search.
https://github.com/psychopy/pyosf

[2018-02-07 01:23] russelljjarvis opened #161 "Not all of prospectors (pylints) warnings about import statements are helpful."
Many examples of import statements that are indirectly functional follow.

The most concrete example is the new imports we just wrote:
[code]
I know that they need to be used, in other files, but pylint is naively looking for evidence of usage in the __init__.py file itself.

Generally prospector is okay, if you don't take 'unused imports' too seriously.

Use example is below:

[code]
/home/jovyan

[2018-02-07 20:52] rgerkin commented on #161
We can just ignore them.

[2018-02-07 20:52] #161 closed

[2018-02-07 20:57] #130 closed

[2018-02-07 21:09] rgerkin commented on #156
Fixed with `self.init_backend()`, which purges the information associated with a previous simulation.

[2018-02-07 21:09] #156 closed

[2018-02-07 21:32] rgerkin commented on #138
Please make a formula reproducing this problem.

[2018-02-08 17:40] russelljjarvis commented on #148
Although the sciunit score objects are not stored directly inside the data transport container objects, because of dask bags, a pandas data frame of the scores are retrieved from the workers, and aggregated on the controller.

[2018-02-08 18:16] russelljjarvis commented on #138
I think the problem is in the constructor. In the file:

models/backends/neuron.py
lines 16 - 53:

The condition:
`if type(DTC) is not None: ` never executes. It's not about the syntax of this condition. For instance, using very explicit `if type(DTC) is not type(None): also wouldn't work.  Or `if not isinstance(DTC,None)` equally would not work.

I think the problem is instead here:

`model = Red

[2018-02-12 00:50] russelljjarvis opened #162 "Error related to model caching."
I see this error when running the GA based test. It's not fatal to program execution, but I think that might be because None type models are filtered out.
[code]

[2018-02-12 02:48] rgerkin commented on #162
I'm not sure if you are referring the __del__ error or the missing file error, but I've just deal with the former in 2dceab5f4cd030e1271e2c2cf9b34153dea7149b

[2018-02-14 19:25] rgerkin commented on #154
Implemented in cde4991398353dcbe6349913cd97fe91c6c85146, etc.

[2018-02-14 19:25] #154 closed

[2018-02-18 21:06] russelljjarvis opened #166 "PyNN Izhikevitch models, and NeuroML NEURON Izhikevitch models do not produce the same results with a user naive run."
PyNN Izhikitetch models, and NeuroML NEURON Izhikitch models do not produce the same results on a rheobase search with a user naive run, although inspecting the model using NEURONs `psection()` shows the same fundamental model attributes.

Via pyNN NEURON:
[code]

[2018-02-19 18:07] rgerkin commented on #166
Let's make PyNN a Model class and not a Backend and this will go away.

[2018-02-19 18:07] #166 closed

[2018-02-19 18:16] rgerkin commented on #162
Fixed with the above-referenced commit.

[2018-02-19 18:16] #162 closed

[2018-02-19 18:17] rgerkin commented on #158
Should be fixed in ee3e5add4b895df0bba406d884eafa62b37a276b

[2018-02-19 18:17] #158 closed

[2018-02-19 18:23] rgerkin opened #167 "Unit test refactor"
Replaces #123 and #155.

`unit_test/__init__.py` should import all the tests that will be run on Travis-CI.
`unit_test/aux.py` should import all the test that will be run on a local machine of sufficient speed
`unit_test/...` should be files that` __init__` and `aux` import

Things that need more coverage in the 0.2 release:
- Various serial runs of models using a NEURON backend

[2018-02-19 18:23] rgerkin commented on #123
Superseded by #167

[2018-02-19 18:23] #123 closed

[2018-02-19 18:23] rgerkin commented on #155
Superseded by #167

[2018-02-19 18:23] #155 closed

[2018-02-19 18:24] rgerkin commented on #138
We agreed that this is solved.

[2018-02-19 18:24] #138 closed

[2018-02-20 21:20] rgerkin opened #168 "Make a PyNN model class"
PyNN support should come via a model class `PyNNModel` that wraps PyNN, rather than a backend.  PyNN will supply its own means for communicating with backend simulators.  The `PyNNModel` should be analogous to `LEMSModel`, and will be a parallel approach to instantiating a SciUnit model for testing.

[2018-03-09 22:09] russelljjarvis opened #170 "ISI and CV test need to override `VMTests.validate_observation()`"
@rgerkin

ISI and CV test need to override `VMTests.validate_observation` method, but I need to learn what `united_keys`, `nonunited_keys` actually mean.
[code]

[2018-03-11 02:37] rgerkin commented on #170
"united" and "nonunited" refer to whether they have units or not (although it also looks like the more common meaning of "not divided", so sorry for the possible confusion.  The "united" keys are checked to make sure they are instances from the quantities package, and that they have the units that the test requires (the test class's units attribute).  "nonunited" keys are checked to make sure they

[2018-03-21 14:18] gidili opened #171 "Python 2 issue on test.judge"
Hi @rgerkin - as discussed recently, I am running [this example](https://github.com/scidash/neuronunit/blob/dev/neuronunit/unit_test/serialization_test.ipynb) locally and getting the following error on test.judge:

<img width="1246" alt="screenshot 2018-03-20 16 18 25" src="https://user-images.githubusercontent.com/68134/37714823-6864ce86-2d12-11e8-9678-edba9fb058c0.png">

As discussed, it seems t

[2018-03-21 15:39] rgerkin commented on #171
I pushed a fix to sciunit:dev.  Update that and see if it goes away.

On Wed, Mar 21, 2018, 7:18 AM Giovanni Idili <notifications@github.com>
wrote:

[2018-03-21 18:36] gidili commented on #171
@rgerkin thank you! In the meanwhile I can confirm it's running fine on python 3 🎉 Will run again with python 2 soon and report back.

[2018-04-07 02:40] russelljjarvis opened #174 "The file get_neab.py should be re-written as a function."
The function takes neurolex_id

and returns observations and paramaterized NU test suits.

The problem is what to do with AIBS observations, which are available a bit less often.

[code]

[2018-04-28 00:47] russelljjarvis opened #175 "Rather than having backends for things that are already backends, instead introduce an interfaces directory."
The interface directory can have simpler code that upgrades pyNN and GLIF (Allen brain) models to sciunit models (via some kind of inheritance idiom).

[2018-04-28 01:19] russelljjarvis opened #176 "Network based neuronunit tests and data to inform the construction of such tests."
For the ICON lab hackathon it is desirable for some data to be digitised to inform network wide sciunit tests. I propose measuring multivariate spike distance (a-synchrony),  Spike Train Distance.
Data for entrorhinal cortex at the bottom of this paper: https://www.sciencedirect.com/science/article/pii/S0165027007002671 It would be great if someone who needs a task could digitize it.

In the futur

[2018-04-28 01:23] russelljjarvis opened #177 "Need a list of biological neurons (neurolex ids) to optimize against."
The optimization branch of this project needs to demonstrate it's utility and robustness by finding the Izhikevich model parameters that best match experimentally derived properties from biological neurons.
Need a list of biological neurons (neurolex ids) to optimize against.

[2018-04-30 19:44] russelljjarvis opened #179 "Problem with new latest sciunit dev. Cannot construct new tests suite object."
[code]

Using python debugger it was confirmed that tests is an iterable list of test objects.
[code]
As a practical work around it might be okay to just not cast tests to sciunit.TestSuite.

[2018-05-04 05:25] rgerkin commented on #179
Check [the signature](https://github.com/scidash/sciunit/blob/dev/sciunit/suites.py#L17) for `TestSuite`: the name is now an optional argument that comes after the list of tests.  This was changed a while back to match the format of all of the other constructors.

[2018-05-04 05:36] rgerkin commented on #177
Neurolex appears to be deprecated in favor of SciCrunch's interlex, so how about:
[CA1 Pyramidal Cell](https://scicrunch.org/scicrunch/interlex/view/ilx_0105031)
[Cerebellar Purkinje Cell](https://scicrunch.org/scicrunch/interlex/view/ilx_0101974)
[Layer V Pyramidal Cell](https://scicrunch.org/scicrunch/interlex/view/ilx_0107386)
[Olfactory Bulb Mitral Cell](https://scicrunch.org/scicrunch/interle

[2018-05-04 05:38] rgerkin commented on #176
I don't think the CV data was meant as a network test, but it is a good data to use with the CV tests you have already created for single neurons.

[2018-05-07 00:10] russelljjarvis commented on #177
Great I appreciate the Sci-crunch-lex links.

[2018-05-08 04:45] #176 closed

[2018-05-08 04:46] russelljjarvis commented on #176
Yes, makes sense.

[2018-05-09 17:59] russelljjarvis opened #180 "Syntax Allen Brain interpolation, replace nan's with interpolated_spike_voltages"
[code]

[2018-05-11 01:12] JustasB commented on #180
Could also do `parse_glif`, then convert the LEMS file to NEURON with jnml, and then check the output. NEURON does not support NaN values so PG had to decide how to deal with them when he converted the original models. You could also examine the NeuroML glif definition to see how he ensures all values are defined:

https://github.com/OpenSourceBrain/AllenInstituteNeuroML/blob/master/CellTypesDatab

[2018-05-11 18:56] russelljjarvis commented on #180
Thanks, Justas yes I will take the parse glif_approach for sure.
![rheobase](https://user-images.githubusercontent.com/7786645/39941239-c77ebce4-5510-11e8-997a-01f118a3832c.png)

The reason, the waveform looks like it pertains to, two unrealistic spikes instead of one is
because I am using the glif cells own spike counting function, instead of the alternative of just using neuronunits own spike_tr

[2018-05-11 22:38] russelljjarvis opened #182 "Note about broken docker build. sciunit is significantly different now."
This what I need to run in order to get docker container to run. Indicating, that the latest docker image also needs updating.
[code]

[2018-05-11 22:59] russelljjarvis commented on #180
As discussed I have attached the GLIF cells to the BluePyOpt optimizer.

The result is more realistic waveforms, but still not realistic enough to do spike width and height tests.

![rheobase](https://user-images.githubusercontent.com/7786645/39950176-590a605a-5534-11e8-9ba1-776d74715d5c.png)

[2018-05-12 05:13] rgerkin commented on #104
See also rtfd/readthedocs.org#3156.

[2018-05-12 05:14] rgerkin commented on #182
Can you add that to the Dockerfile?

[2018-05-12 05:16] rgerkin commented on #180
Right, the GLIF model is definitely not meant to capture anything about spike waveform properties, only spike timing and maybe a little bit of simple subthreshold behavior.

[2018-05-15 03:04] russelljjarvis commented on #182
Yes, also the allen brain glif cells require Padraigs opencortex in order to parse allen config files and to translate the parsed allen config back to NeuroML

[2018-05-15 16:39] rgerkin commented on #182
OK, we can think about making OpenCortex a Neuronunit dependency.

[2018-05-16 20:08] russelljjarvis commented on #177
In the file pipe_entry_point:
https://github.com/russelljjarvis/neuronunit/blob/dev/neuronunit/unit_test/pipe_entry_point.py#L10-#L23
I create a list of neuro electro ids corresponding to neuroelectro observations I want to obtain.
[code]
https://www.neuroelectro.org/api/1/nes/?nlex=SAO%253A830368389&e__name=Spike+Amplitude

The function get_neuron_criteria, then makes the neuroelectro queries:
ht

[2018-05-16 21:26] rgerkin commented on #177
@russelljjarvis
NeuroElectro still doesn't know about the SciCrunch IDs, so I think you still have to give the actual NeuroLex IDs to the NeuroElectro API.  In the example above, only one of those is actually a valid NeuroLex ID (`nifext_50`), and the others are not; I think for some reason if the NeuroElectro API doesn't find a match by NeuroLex ID it just returns a list of all neurons.  The Neur

[2018-05-17 04:50] rgerkin commented on #177
For all of the ones in the first set of links I posted, the neurolex id is the string following "NLXWIKI:", i.e. sao471801888 for the Purkinje cell.  I assume this pattern will work for all cells.

[2018-05-17 12:53] pgleeson commented on #180
@russelljjarvis @rgerkin Glad to see you're using the GLIFs from the Allen Institute OSB repo. I haven't been following all of the discussions here, but if you do have any issue with running these, do open up issues in the https://github.com/OpenSourceBrain/AllenInstituteNeuroML repo.

BTW, as you'll probably have seen the cells are I&F (so no real spikes), but also the resting potentials of the c

[2018-05-17 19:26] russelljjarvis commented on #177
Ironically, this approach described may work for all neurons except the purkinje neuron (I write may, as the code below executes, which does not necessarily mean the program is acting on the right data, I will confirm soon if the data is correct):

[code]
fi_basket = {'nlex_id':'100201'}
pvis_cortex = {'nlex_id':'nifext_50'} # Layer V pyramidal cell
olf_mitral = { 'nlex_id':'nifext_120'}
ca1_pyr =

[2018-05-17 19:34] rgerkin commented on #177
There are no Time Constant values for the Purkinje cell in neuroelectro (I just confirmed it manually). `neuroelectro_summary_observation` should be patched to check if `reference_data` is empty (e.g. has no `mean`), which is what happens when that data cannot be found on neuroelectro.  The others probably work.

[2018-05-17 20:45] russelljjarvis commented on #177
The others are at least not yet causing syntax problems.

[2018-05-17 23:39] russelljjarvis commented on #174
Done

[2018-05-17 23:39] #174 closed

[2018-05-18 00:28] russelljjarvis commented on #177
These 5 NE keys
[code]
lead only to 3 unique neuroelectro data sets.
[code]

[2018-05-18 02:34] russelljjarvis opened #183 "optomisation results"
If you scroll down you can see a visualization of the optimization results in this notebook:
https://github.com/russelljjarvis/neuronunit/blob/dev/neuronunit/unit_test/test_ga_versus_grid.ipynb

Looking at the mean and std deviation of the gene population versus time, is a bit troubling. Showing the same tendency, for mean errors to get worse not better, with more GA evolution.

I may be over thin

[2018-06-11 23:01] stripathy commented on #177
@russelljjarvis @rgerkin Does it make sense to either update the neurolex IDs in neuroelectro or add a DB field for scicrunch IDs if those are more stable/standardized than the neurolex IDs?

[2018-06-15 03:40] russelljjarvis commented on #177
I do not understand the implications of the different approaches. I wonder if a part of this question, is about trying to predict if sci-crunch IDs will be more lasting the Neurolex IDs?

[2018-06-15 17:39] russelljjarvis opened #184 "Fix erroneous commit to scidash/neuronunit."
The last commit to scidash/neuronunit (from me) was in error. I think I know how to wind it back. Will do that now.

[2018-06-15 18:03] russelljjarvis commented on #184
I believe I fixed this with the steps:
[code]

[2018-06-15 18:03] #184 closed

[2018-06-15 21:12] russelljjarvis opened #185 "Issue 1 Upgrading pip to pip10, breaks NU installation."

[2018-06-15 21:16] gsarma commented on #185
This came up for me with openworm/tests as well.  See openworm/tests#11 and scidash/sciunit#70

[2018-06-15 21:19] russelljjarvis commented on #185
Typical output from a failed NU install inside Docker
[code]
Works under pip10
https://github.com/russelljjarvis/neuronunit/blob/dev/setup.py
[code]
https://github.com/scidash/neuronunit/blob/master/setup.py

Other people with similar issues suggest downgrading pip
https://github.com/AuthorizeNet/sample-code-python/issues/38
https://github.com/AuthorizeNet/sdk-python/issues/97

[2018-06-17 03:58] rgerkin commented on #185
@russelljjarvis @gsarma There is a `parse_requirements` function in setup.py in both master and dev.  So that stack trace isn't actually possible if the correct version of neuronunit is being pulled in the Dockerfile.  You can also see that is passes on Travis.

[2018-06-17 16:41] russelljjarvis commented on #185
My mistake, the stack trace I provided was wrong, but I stand by the subject heading of the error message. The stack trace I provided was a work around heading.

[2018-06-17 17:02] rgerkin commented on #185
@russelljjarvis So what is the formula to reproduce the error?  For me with pip10 it installs fine.

[2018-06-17 19:44] russelljjarvis commented on #185
Yep, working on it.

[2018-06-17 23:47] #185 closed

[2018-06-18 22:54] rgerkin commented on #177
@stripathy Yes, I think a scicrunch ID makes the most sense.  Keep the neurolex field, but then expand the API to allow search via scicrunch ID (once the field is there and the data has been scraped, you can open an issue to update the API and assign it to me).

@russelljjarvis Yes, I am confident that SciCrunch IDs will be more lasting.  It has NIH support.  I think NeuroLex was deprecated for th

[2018-07-18 17:14] gidili opened #186 "Model validation"
Neuronunit should expose wether a given model instance can implement the capabilities of that model class

[2018-07-26 16:10] rgerkin opened #187 "Backend Caching Implementation Bug"
Chapter 3 documentation throws an exception in one of the tests due to a mismatch in the number of APs in two different runs of the same model under the same conditions.  This occurs because one run correctly uses the cache and one run does not.  This may be due to the way the `jNeuroMLBackend` is implemented, which may be incompatible with the current caching implementation in certain edge cases.

[2018-08-01 16:56] gidili commented on #186
The logic of finding appropriate xml tags related to capability implementation should be separated form manipulating values associated to those tags.

We need a way to tell that a given model instance can implement the capabilities guaranteed by the model class.

For example as a usecase in scidash we need to be able to populate model classes as the creates a model instance:
<img width="929" alt="

[2018-08-06 05:39] rgerkin opened #188 "Fix AIBS module"
It looks like their API may have changed again, breaking compatibility.

[code]

[2018-08-06 23:51] rgerkin commented on #188
Fixed in d859aff2e288fae6f8a5bd372828d8a64b12fe55

[2018-08-06 23:51] #188 closed

[2018-08-07 05:10] rgerkin commented on #186
Partly implemented in 7952585e8459fc10d36918663a443fdad2ceb91b

[2018-08-07 17:48] rgerkin commented on #168
Is this needed in light of recent PyNN -> NeuroML2 support (see [here](https://www.neuroml.org/files/NeuroMLEditorialBoardMeeting2018.pdf))?  Maybe the model class could just implement this conversion and then run through the `LEMSModel` class.

[2018-08-07 17:50] rgerkin commented on #23
Could be implemented as in [these](https://github.com/BhallaLab/moose-core/tree/master/python/moose/neuroml2) examples.

[2018-08-07 21:25] rgerkin commented on #187
Fixed in 9873317dbae4236e33cc4f1e96f7eb759af9e1a1 (needs to be checked again).

[2018-08-08 17:35] gidili commented on #186
Request: .check will default to False (instead of True) so that we know that a particular model instance does not implement a given capability.

[2018-08-08 18:00] gidili opened #189 "Cache only backend"
We need a cache only backend to be used when creating model instances running external simulators and setting cache from external simulation results (outside of test.judge).

[2018-08-10 06:34] #179 closed

[2018-08-10 06:35] rgerkin commented on #171
@gidili Is this fixed for you?

[2018-08-10 06:36] #113 closed

[2018-08-10 06:43] rgerkin commented on #168
Duplicate of #27

[2018-08-10 06:43] rgerkin commented on #27
See also duplicate issue #168.

[2018-08-13 05:33] rgerkin commented on #186
Added in scidash/sciunit@cca66d0 an keyword argument `require_extras` to all `check` and `check_capabilities` methods to require that instance level methods to check for capability implementation exist (and return True) for a capability to be considered implemented.

[2018-08-14 00:54] russelljjarvis commented on #168
I guess it all depends on how seamlessly that conversion process works.

My goal is to enable sciunit tests, of network behavior via SpiNNaker and PyNN. I have an intuition that writing a PyNN interface (a psuedo backend), is still the right way to go.

I was also thinking, given that PyNN models, are almost implemented models that have neo Analogue signal outuputs, why not create a Model Class: E

[2018-08-16 16:22] rgerkin opened #190 "Implement all Druckman Tests"
Implement tests for all 38 of the features used in [Druckman et al](https://doi.org/10.1093/cercor/bhs290), shown here: https://academic.oup.com/view-large/80919724

[2018-08-16 19:54] JustasB commented on #190
Full list:

- [ ] Drop in AP amplitude (amp.) from first to second spike (mV)
- [ ] AP amplitude change from first spike to steady-state (mV)
- [ ]  AP 1 amplitude (mV)
- [ ]  AP 1 width at half height (ms)
- [ ]  AP 1 peak to trough time (ms)
- [ ]  AP 1 peak to trough rate of change (mV/ms)
- [ ]  AP 1 Fast AHP depth (mV)
- [ ]  AP 2 amplitude (mV)
- [ ]  AP 2 width at half height (ms)
- [ ]  AP

[2018-08-17 17:45] #186 closed

[2018-09-20 01:09] JustasB opened #191 "HDF5 build error when installing latest AIBS skd"
https://travis-ci.org/scidash/neuronunit/jobs/430815994

[code]

[2018-09-20 01:15] JustasB commented on #191
Can't reproduce on my machine

[2018-09-20 15:10] JustasB commented on #191
I resolved this by restoring the prev SKD version in requirements, but kept the test code that's compatible with the older and newer SDK versions

https://travis-ci.org/scidash/neuronunit/builds/431065169?utm_medium=notification&utm_source=email

[2018-09-20 15:10] #191 closed

[2018-11-20 21:22] JustasB commented on #190
These have been implemented and tested with all NeuroML-DB.org cell models.

All tests can be found here: https://github.com/scidash/neuronunit/blob/dev/neuronunit/tests/druckmann2013.py

[2018-11-25 23:19] russelljjarvis commented on #190
That is quiete a lot of tests.

I wonder if some of the tests are dependent on others?

For example in the 8 tests I use to optimize, 4 are spike measurements, and they depend on knowing the rheobase current injection.

I think that we such dependancies need to be reflected in the OOP design somehow. Ie many tests inherit from a base VMtest, if a subset of these tests depend on rheobase being know

[2018-11-27 20:09] JustasB commented on #190
I think what you describe is a perfectly fine way to design a class hierarchy.

@russelljjarvis Take a look at the class diagram for these tests:

[druckmannClassUML.zip](https://github.com/scidash/neuronunit/files/2621630/druckmannClassUML.zip)

When designing the inheritance hierarchy, I was working with the following challenges:

- Many test aspects had to be writen to match the specific way th

[2018-12-03 20:52] russelljjarvis commented on #190
I have been playing around, with using the Druckman test suite with the optimizer. As I think its really good to have all of these new NU tests available.

I have noticed that there is a class that may need instancing (note I renamed the file `druckmann2013.py` as just dm. So I do this:
[code]
but I need to supply a current amplitude.
[code]
Is this current amplitude some multiple of rheobase (lik

[2018-12-03 21:00] rgerkin commented on #190
@russelljjarvis @JustasB I agree this will be a great thing to test and iron out during the hackathon.

[2018-12-03 21:15] JustasB commented on #190
For [input resistance](https://github.com/scidash/neuronunit/blob/dev/neuronunit/tests/druckmann2013.py#L778), the parameter should suppy an array of at least two negative currents.

For tests that have "[StrongStim](https://github.com/scidash/neuronunit/blob/dev/neuronunit/tests/druckmann2013.py#L1385)" in their name, the parameter should be 3x the rheobase current.

For all other tests, the para

[2018-12-03 21:32] russelljjarvis commented on #190
Cool, good to know.

Also @JustasB what is your opinion about chattering or bursting neurons. Neurons, that are either silent, or fire a burst, but they never fire exclusively once. Should they be eligible to take these tests too?

The reason I ask, is my rheobase search algorithm will exclude such models, and either excluding 'no-rheobase' or accepting such models, could be important to code desi

[2018-12-03 21:44] rgerkin commented on #190
@russelljjarvis As previously written, your code would look for the minimum current to evoke *exactly* one spike, but as you may recall we fixed this a few months ago to be the minimum current to evoke *at least* one spike (or at least it was fixed in one branch at some point).  So it should work for all models that are capable of spiking and capable of not spiking, even if there is a discontinuit

[2018-12-09 01:21] russelljjarvis opened #192 "Is parallel rheobase faster than binary search rheobase"
In this notebook I compare the speed of both algorithms
https://github.com/russelljjarvis/neuronunit/blob/dev/neuronunit/unit_test/druckman_tests.ipynb

4.450975932982318 speed up for NEURON
0.5183659191052845 speed up (slow down) for rawpy

These results show that parallel rheobase is ~3.5-7 times faster for NEURON backend, but slower for numba jit depending on model.

This makes sense, because n

[2018-12-09 16:03] JustasB commented on #192
Very interesting results!

[2018-12-09 16:07] JustasB commented on #190
I'm thinking we would need either experimental data from real cells to compare against models, or values obtained from complex models that can then be used to compare to reduced models.

[2018-12-09 18:58] russelljjarvis commented on #190
In the two lists below, I think that accommodation, and adaption, are referring to same concept.

Both lists contain multiple measurements of AHP.

This is a list of all the neuroElectro electro-physiological ontologies:
[code]
And this is all the Druckman tests you have implemented:
[code]

[2018-12-09 19:50] russelljjarvis commented on #192
Later in the same NB I examine if the DM tests execute faster in parallel. Using, rawpy backend they are execute twice as fast in parallel, I assume they would be significantly faster in parallel with NEURON.

[2018-12-14 22:11] russelljjarvis opened #193 "Use dynamic binding of methods, to make methods available, while avoiding re-classing pyNN backends as NU backends."
Proof of concept is demonstrated here:
https://github.com/russelljjarvis/neuronunit/blob/dev/neuronunit/unit_test/dynamic_bind.ipynb

Any ideas about how to bind methods (and capabilities), from the reduced model class into the binding method in the notebook.

I think this scheme gives users of NU a lot more flexibility, when they are starting with off the shelf rigorous/standardised models.

[2018-12-15 05:37] rgerkin opened #194 "Fix requirements parser to support pip install -r requirements.txt"
`pip install -r requirements.txt` requires pip installable lines, but `pip install .` uses the requirements parser to fill the `install_requires` portion of setup.py.  There in no current way to write requirements.txt to work for both of these.  The requirements parser must be changed to turn lines in requirements.txt like `git+http://github.com/scidash/sciunit@dev#egg=sciunit-9999` into `sciunit=

[2018-12-16 22:32] russelljjarvis commented on #193
This approach seems to work okay for non parallel tests. PyNN contains NEURON, which is unpickable, so may as well read from a backends file.

[2019-01-04 20:42] russelljjarvis commented on #193
Is there some way we can enhance or extend their product? Perhaps it's more limited than ours ... ?

Actually, I think it might be limited to certain types of publications too. So I think there is worth in our approach.

Maybe we can extend our work, by enabling a query of their database:
https://github.com/scottyih/SemanticScholarAPI/blob/master/citingPapers.py

[2019-01-08 05:35] rgerkin commented on #193
@russelljjarvis Your last reply is in the wrong issue thread.  Can you delete and move it to the one for the COA tool?

[2019-01-30 18:58] russelljjarvis opened #196 "sciunit.log depreciated?"
Does sciunit still have a log function?
This line breaks code, in my current version. The line only gets executed given exceptional circumstances, so unit testing might not pick it up.
https://github.com/scidash/neuronunit/blob/master/neuronunit/capabilities/spike_functions.py#L90

[2019-01-30 23:23] rgerkin commented on #196
Possibly fixed in scidash/sciunit@49e4789e4bd97c0dd5dd7d04eb0b988fc8e48077.

[2019-02-13 13:06] gidili opened #197 "Could not find a version that satisfies the requirement sciunit-9999 (from neuronunit==0.19)"
Hi @rgerkin, we are getting this on local install using 'dash' branches of sciunit and neuronunit:

<img width="878" alt="screenshot 2019-02-13 13 04 40" src="https://user-images.githubusercontent.com/68134/52713712-ef1d1480-2f8f-11e9-9616-383a3503b4e0.png">

Dev branch seems to be ok.

Hopefully it's something simple that slipped into this branch?

[2019-02-14 18:49] rgerkin commented on #197
@gidili I just committed a fix to dash branch, but it (as in dev branch) requires that you use pip >=18.1, since it uses PEP 508 URL dependencies (the only sane way to avoid problems like the one above).

[2019-02-14 20:31] gidili commented on #197
Thanks @rgerkin! I've already upgraded pip, will give it a go first thing
in the morning.

cc @nezanyat

[2019-02-15 22:04] rgerkin opened #198 "Add a README.ipynb (and companion README.md) to every subdirectory"

[2019-02-17 19:19] russelljjarvis commented on #198
What happened to the code from converting pandas data frames to markdown?

This will be useful for writing manuscripts in Markdown.

[2019-02-17 19:28] rgerkin commented on #198
I put a working example in a gist [here](https://gist.github.com/rgerkin/af5b27a0e30531c30f2bf628aa41a553).

But you don't even really need that.  All you need to do is have a notebook README.ipynb in each directory, and then run `jupyter nbconvert --to markdown README.ipynb` in that directory and it should create a `README.md` Markdown file.

[2019-02-18 22:37] rgerkin commented on #27
Closing as duplicate of more specific #168.

[2019-02-18 22:37] #27 closed

[2019-02-18 22:39] rgerkin commented on #64
Probably not useful in light of so many HPC resources providing Docker support.

[2019-02-18 22:39] #64 closed

[2019-02-18 22:41] rgerkin commented on #71
@JustasB Do you consider this done for AIBS stimuli?  I know you are running them all for NeuroML-DB (not as tests against data per se, but just as a way to run the stimulus and then store the result).  Is this integrated into one of the branches of NeuronUnit somewhere?

[2019-02-18 22:42] rgerkin commented on #72
Implemented in [this file](https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/backends/glif.py) but needs further testing.  Will catch in unit testing before release.

[2019-02-18 22:42] #72 closed

[2019-02-18 22:43] rgerkin commented on #75
@JustasB Are you satisfied with the current implementation of this request in the dev branch here?  Is there anything you need to push to satisfy it?

[2019-02-18 22:44] rgerkin commented on #79
Now with pip 18.1, we can just `pip install -e .` and it will handle the PEP 508 URL dependencies that we need.  No need for Docker stacks right now; the Docker images can be test separately.

[2019-02-18 22:44] #79 closed

[2019-02-18 22:47] rgerkin commented on #89
For some reason the serial rheobase test is not being tested right now.  This needs to be added (which it will during code coverage checks before release).

[2019-02-18 22:47] #89 closed

[2019-02-18 22:50] #98 closed

[2019-02-18 22:50] #190 closed

[2019-02-18 22:50] #196 closed

[2019-02-18 22:50] #192 closed

[2019-02-18 22:51] rgerkin commented on #194
Fixed with pip 18.1 and PEP 508 URL dependencies, as well as current version of `setup.py`.

[2019-02-18 22:51] #194 closed

[2019-02-18 22:51] #197 closed

[2019-02-19 16:54] JustasB commented on #71
@rgerkin

In short:
Do you consider this done for AIBS stimuli? Yes, but in the nmldb codebase.
Is this integrated into one of the branches of NeuronUnit somewhere? Only the druckmann properties are in NU.

Longer:
I think overall the idea that if a set of tests uses a given protocol then that protocol should not be duplicated, but instead separated out, stored under say the "protocols" folder, an

[2019-02-19 17:10] JustasB commented on #75
@rgerkin I have merged everything I had worked on thus far. I don't have any other outstanding code to push.

I think the separate protocols folder idea is something that we probably should do with any future tests, and we need to decide if it's feasible to expend the effort to refactor the existing tests.

[2019-02-19 23:15] rgerkin commented on #71
OK, either way I can't close this issue (due to the need for BBP versions), but I think the de-duplication of protocols can also be implemented by sub-classing.  For example, if the protocol is basically defined in `get_prediction`, then there could be protocols classes each with their own `get_prediction` (or something else that the test's `get_prediction` calls, and then Tests could subclass fro

[2019-02-19 23:16] rgerkin commented on #75
If you have the protocols defined in an nmldb repo, could you point me to it, and to how you use that in the testing?  Then maybe I can do this refactoring.

[2019-02-19 23:33] JustasB commented on #75
Take a look at these:

The AIBS and HBP (long square and input resistance) protocols are defined here: https://github.com/scrook/neuroml-db/blob/master/Import%20Scripts/model-importer/cellmodel.py

The general workflow is:

a) each model is subjected to the AIBS and HBP protocols
b) the input and output waveforms are saved to the nmldb (and shown on the nmldb website)
c) a NU staticmodel defined [

[2019-02-21 17:30] russelljjarvis commented on #190
I think we should rename the file Druckman measurements. A different file that merges the measurements with appropriate falsifying data would be called Druckman measurements.

[2019-02-21 17:32] russelljjarvis commented on #190
I wouldn't say this is done, as the tests are still measurements, but they could be upgraded to tests.

[2019-02-21 17:33] rgerkin commented on #190
@russelljjarvis Which file are you talking about?

[2019-02-21 17:40] russelljjarvis commented on #190
neuronunit/neuronunit/tests/druckmann2013.py

My mistake, it's not the file that would need renaming but this GitHub issue.

[2019-02-21 17:45] rgerkin commented on #190
I renamed the issue, but I'm confused about the other part.  That file already contains many test classes, does it not?  For example, in the dev branch, `AP12AmplitudeDropTest` subclasses `Druckmann2013Test` subclasses `VmTest`.

[2019-02-21 17:56] russelljjarvis commented on #190
Yes, but I think the measurements are just inheriting useful class properties, like `generate_prediction` etc. I don't think there is any sciunit/neuronunit level testing going on, and I think it's important to be unambiguous with language, in these contexts.

[2019-02-21 18:03] rgerkin commented on #190
@russelljjarvis OK, you're probably right, I may not have looked closely enough.
@JustasB I know you're just using parts of the test infrastructure here -- what do you propose these be called?  I recognize this is sort of duplicating the same question across issues, but I'm hoping the "answer" will become clear if we see the question in different contexts.

[2019-02-21 18:15] russelljjarvis commented on #190
I think you could even reopen the issue, but change the name again, to 'upgrade Druckmann measurements to tests'. The issue was initially an announcement, that the measurements were implemented, but the issue changed in nature, to instead reflect, given that the measurements exist how to convert them to tests.

[2019-02-21 18:19] rgerkin commented on #190
I think this will be handled in the implementation of #75.

[2019-02-21 19:37] JustasB commented on #190
They seem to squawk, walk, and smell like tests to me -- so I think they're tests. If they're included in a suite, and provided with data to compare against, they'll return test results just like the other tests. What am I missing?

[2019-02-21 21:00] russelljjarvis commented on #190
Maybe its just a semantic thing, but I feel like a test, that other people can pick up and start using, is a package that includes the data, and the generate_prediction method together. That is the case for the other NU tests I have been using. If the data is not included a method for downloading it is.

I think the only missing ingredient is the data or the methods for downloading and aligning th

[2019-02-21 21:08] rgerkin commented on #190
But `VmTest` (which these tests subclass) does implement the methods for getting data (from NeuroElectro), so what do these Druckmann test classes not have that others do?  Tests were called tests in NeuronUnit long before get_neab.py.

[2019-02-21 21:20] russelljjarvis commented on #190
Okay, so what should you call packaged tests then?, Like if you wanted to use language really precisely to avoid ambiguity. Like tests that are ready for user consumption?

[2019-02-21 21:28] rgerkin commented on #190
There has never been a class for packaged tests.  There are instances of tests classes, where those instances use specific data as observations, is that what you mean?

And I disagree that an end user could/would never use a Druckmann test.  For example, Druckmann used them (albeit not in NeuronUnit).

[2019-02-21 21:51] russelljjarvis commented on #190
yes, I think when there is observations, that is test (comparison) not just a measurement. I guess I evaluated all the druckmann tests at one point, and then I got confused. I thought I was testing, as opposed to measuring, but where were the scores?

Maybe it has changed since then?

[2019-02-21 22:04] JustasB commented on #190
I think there are three different aspects here: a) the stimulation protocol b) the algorithm to compute the property value and c) comparison of the value to what's seen experimentally. All tests in NU provide a and b. The user has to supply c from e.g. literature or neuroelectro.

In case of druckmann properties, those values are not available anywhere, but in theory, someone could subject real ce

[2019-02-22 01:14] russelljjarvis commented on #190
Yes, I agree that tests can mean 'a', 'b' and 'c'.  I was thinking I can just disambiguate in my own code, by labelling test classes that are prepackaged with falsifying data as: 'ExecutableTests', tests that are ready to be taken.

I just checked the definition of the word test. It has two definitions, the first is a noun the second is a verb. I guess I had always thought about NU tests as acting

[2019-02-24 17:48] russelljjarvis commented on #190
I was thinking more about the relationship of Druckmann (DM) tests and VmTest, to scientific unit-testing. I think the relationship is that DM test, and VmTest are both necessary but not sufficient, to do scientific unit-testing. So a good name could also be `VmTestComponents`, and `DMTestComponents`. Also I realised that I can show that the DM tests can in principal work with optimization, if dat

[2019-02-24 17:58] rgerkin commented on #190
What is sufficient?  The test plus the observed data?  Because that is what you usually get when you instantiate a test (except that Druckmann and TestM2M because they are purely for generating model output and/or comparing it against other models, rather than against data)?

[2019-02-24 18:11] russelljjarvis commented on #190
I think the test+observed data, is sufficient for making an executable scientific unit-test. If there are exceptions to this, I wonder if a few words sentences could explain to the Test user, a test class is sometimes a component of a test, were test is meant in the noun sense. Instanced tests are often executable, and then they become comparisons (test is meant in the verb sense).

[2019-02-24 18:18] rgerkin commented on #190
Since a normal `Test` is instantiated with data, then the resulting instance is sufficient to meet your vision of the scientific unit test.

But it is clear that we have a few cases where people are interested in using the Test's methods for something other than comparison to data.  So there may be a need for a less hack-y way of doing that, such as a top-level class in SciUnit which is like a pro

[2019-02-24 18:22] russelljjarvis commented on #190
Yes, maybe the answer will emerge from continued community use and participation. The user market might decide.

[2019-02-26 23:07] JustasB opened #199 "Including L-Measure for morphology tests"
@rgerkin For the OB model, I plan to compare cell model morphologies to reconstructed experimental morphologies. Many of the properties I need can be computed using [L-Measure](http://cng.gmu.edu:8080/Lm/).

I was thinking of writing NU tests that wrap L-measure and return the property value in the NU format.

One issue is that L-measure is distributed in the form of a binary (they have linux, mac

[2019-02-26 23:39] rgerkin commented on #199
Packages can have optional dependencies, specifiable in the setup.py so that:
`pip install neuronunit` wouldn't install it but `pip install neuronunit[morphology]` would.  Can you set it up that way for now?  We are probably going to do something similar with optimization (which can rely on a lot of complex dependencies that we don't want to break core functionality).  Also, I saw [this](https://g

[2019-02-27 02:24] JustasB commented on #199
Ok I can do that. Yes that python wrapper might save some time.

[2019-03-01 18:54] russelljjarvis opened #200 "Fixes to Druckmann tests"
This file contents, reflect a recently tested version of the Druckmann tests. The previous file contents were not working, because of neo Analog Signal issues.
The file to be merged is [here](https://github.com/russelljjarvis/neuronunit/blob/4119fd4a5b02be8b32f28db2707ce3d92e335204/neuronunit/tests/druckmann2013.py)

[code]

[2019-03-03 00:46] JustasB commented on #199
@rgerkin I turned that library you noticed into a pip install'able package and added a few other things to it: notebook with usage examples, travis tests, coverage. Check it out: https://pypi.org/project/pylmeasure/

The pip install does everything to compute the measures. No need to dl the lmeasure executables -- the package includes them.

I plan to build the NU morphology tests using this libra

[2019-03-06 23:00] JustasB opened #201 "broken dev build"
@russelljjarvis I noticed the [latest build on dev](https://travis-ci.org/scidash/neuronunit/builds/500500675) is not working. Will you check in a working version?

I'm working on morphology unit tests and I want to be confident my tests will work with the latest NU version -- but the unit tests are failing.

[2019-03-07 19:54] russelljjarvis commented on #201
There is a bit of a responsibilty conflict with that branch atm. Rick was performing, a merge into it.

Meanwhile, I have started the process of creating more meaningful unit tests, in the more recently maintained branch `opt_cluster`, where I check the effectiveness of optimization, against all the different backends. It's probably about time, I merged opt_cluster, into dev, but that will tempora

[2019-03-07 20:03] rgerkin commented on #201
All tests passed 3 commits earlier, then 2 commits earlier, Python 2.7 failed but others were still passing.  Those reflected my commits.  Then Russell made minor changes that could not possibly have caused the current failures, and yet the tests are now failing.  So my guess is that it is something upstream, maybe SciUnit.  I will test on my machine.

[2019-03-08 15:46] JustasB commented on #200
I don't understand what needs to be done to close this issue

[2019-03-08 21:27] russelljjarvis commented on #200
Just a code merge. When dev is merged with opt-cluster the issue can be resolved. Or I could close it now. I just wanted to notify people, about an intermittent problem.

[2019-03-08 21:27] #200 closed

[2019-03-10 17:25] rgerkin commented on #201
Fixed in dfdaa1a1d04509eba067af5f9867196b5bb2ebf2.

Previously I had changed some tests to set attributes like current amplitudes on construction, rather than as class attributes.  This was done because test instances run in parallel might need different current amplitudes.  @russelljjarvis solved this his own way in his fork, and when I pulled his changes in I refactored to put this solution into

[2019-03-10 17:25] #201 closed

[2019-03-10 21:41] JustasB commented on #201
Thank you @rgerkin

[2019-03-11 01:53] russelljjarvis commented on #201
Okay I did a merge between scidash/dev, and russelljarvis/dev. I expect that, that merge breaks all of my unit_tests, which now live in test_low_level.py and test_high_level.py

[2019-03-18 16:36] NeZanyat opened #203 "Way to check class capabilities without instantiating it"
Sometimes I need to retrieve capabilities from model but I don't need to instantiate it, I used some generic model file, but it's not always works with some models. Is there a way to do this?

[2019-03-18 16:38] NeZanyat commented on #203
To retrieve capabilities I use capabilities property.

[2019-03-18 17:35] rgerkin commented on #203
The current `capabilities` attribute is an instance-level attribute, but looking at [the code](https://github.com/scidash/sciunit/blob/dev/sciunit/models/base.py) it could be made class-level by removing __class__ from the one line in that capabilites method.

[2019-03-19 10:31] NeZanyat commented on #203
Could I change it in dash branch?

[2019-03-19 15:13] rgerkin commented on #203
Yes, go ahead.  Open a PR and I will approve it.

[2019-04-07 21:16] russelljjarvis opened #206 "Solution to use NE python API for bimodality tests fails, due to NeuroElectro query syntax"
[code]

[2019-04-07 23:23] rgerkin commented on #206
@russelljjarvis I don't know if `__name` filtering (or any filtering) was every implemented for `nedm` searches (i.e. for individual values taken from the literature.  Also recall that if no results are found for one of the search restrictions, in some cases it just ignores that search restriction, which is obviously dumb but it hasn't risen to the top of anyone's list to fix it in NeuroElectro.

[2019-04-08 02:55] russelljjarvis commented on #206
Sometimes unimodalism seems justified, other times not.
![image](https://user-images.githubusercontent.com/7786645/55695479-9b1a2500-596d-11e9-9070-59e267a48db8.png)
![image](https://user-images.githubusercontent.com/7786645/55695500-aa996e00-596d-11e9-8cbd-903e5499bde4.png)
![image](https://user-images.githubusercontent.com/7786645/55695691-9bff8680-596e-11e9-87d2-6781f9688675.png)
![image](https

[2019-04-08 20:02] russelljjarvis commented on #206
The dip-test is better supported in R. I am moving this code to the test directory, as I think stat-data-model tests, need to be included as tests if data driven optimization needs to be done. I also think that these distributions should be stored in a variable, that moves through the optimization pipeline, and gives context to solution quality.

[2019-04-09 20:35] NeZanyat opened #207 "KeyError: 'injected_square_current'"
**Branch**: dash

**Error**:
[code]

My guess is that it happens because parameters which was set here
https://github.com/scidash/neuronunit/blob/dash/neuronunit/tests/fi.py#L25

are redefined at parent's __init__ method here:
https://github.com/scidash/sciunit/blob/dash/sciunit/tests.py#L33

[2019-04-09 20:40] russelljjarvis commented on #207
I have seen this error before too.

This was my hackish work around:
https://github.com/russelljjarvis/neuronunit/blob/barcelona/neuronunit/tests/fi.py#L115-L117

[2019-04-09 20:43] rgerkin commented on #207
I think this is fixed in the dev branch.  I would prefer that the changes made there be pulled back into the dash branch, rather than have conflicting fixes.  I will handle it this week.

[2019-04-09 20:46] russelljjarvis commented on #207
Even better again, would be to find the code that creates current injection dictionaries, without adding a `inject_square_current` key.
[code]

[2019-04-09 20:52] rgerkin commented on #207
@NeZanyat Could you give a minimal example to reproduce this, so I make sure that I've fixed it?

[2019-04-10 13:21] NeZanyat commented on #207
Sure. Here is the example

https://github.com/NeZanyat/neuronunit/blob/dash/param_error.ipynb

[2019-04-10 19:31] NeZanyat opened #208 "Can't get values from memory_cache because hash was changed"
Branch: dash

I'm setting memory cache, and then run judge on model.
But instead getting results from memory cache model tries to resolve it with backend. It happens because when I setting cache model sets it under one hash. But then in process of judging it starts setting some params and hash is changing, and model can't find values from cache, because it has another hash now.

Flow:

https://fex

[2019-04-11 15:17] gidili commented on #208
Hey @rgerkin any idea how we can fix this?

[2019-04-12 00:10] rgerkin commented on #207
@NeZanyat I think the relevant fix is in 85b706cfde0b70e44a89f67a3db9fe73b435b4ef in the dev branch, but it was difficult to try to figure out if any other commits were needed, so I just merged dev and dash completely.  This could introduce new problems, but almost all of the dev commits were about optimization or direct simulation with NEURON and so shouldn't change much here.  I also merged sciu

[2019-04-12 00:11] rgerkin commented on #208
Yes, I just fixed that in 9349dd9c835fe6a15f6dc3aaa24b52b0583e7f86 and it is demonstrated [here](https://github.com/scidash/neuronunit/blob/dash/neuronunit/examples/cache-and-hash.ipynb)

[2019-04-13 10:04] NeZanyat commented on #208
I updated code, but problem still here.

https://fex.net/s/68myaxy

[2019-04-14 00:36] rgerkin commented on #208
I think you are pointing out in that screencast that during `test.get_prediction()`, the calling of `model.set_run_params()` causes the hash to change.  This is expected behavior, since any call to `set_run_params()` could change run parameters that would result in the simulation having a different expected result (and thus it should get/set a different cache).

I see three possible solutions, so

[2019-04-16 11:22] NeZanyat commented on #208
Solution with custom backend works fine, thank you

[2019-04-18 05:05] #208 closed

[2019-04-18 05:06] rgerkin opened #213 "Change from hard-coded to NeuroML-derived variable names in NEURON Backend"
Currently the NEURON Backend has some variable names specific to some modeling conventions.  Instead these names should be derived from the associated NeuroML file, or optionally provided by the user.

[2019-04-18 05:07] rgerkin opened #214 "Easier debugging with pyNeuroML and especially NEURON"
There are a lot of notices that should be suppressed.  Some of the error messages should be recast in human form so that it is easier to debug problems with model compilation and execution.

[2019-04-20 17:40] JustasB commented on #199
The tests are implemented here: https://github.com/scidash/neuronunit/blob/dev/neuronunit/tests/morphology.py

They use the [pylmeasure ](https://pypi.org/project/pylmeasure/)package.

[2019-04-20 17:40] #199 closed

[2019-04-20 17:52] JustasB opened #215 "Enable daily Travis CI builds"
**Background**
Whenever a Travis build fails, it can be difficult to determine if the failure is due to the code that was just checked in or due to a change in some external dependency (e.g. an update to a pip package or unavailability of some resource). Scheduled builds could help determine the cause.

**Proposal**
I propose we enable daily scheduled Travis CI builds. This can be done via [Travis

[2019-04-20 20:30] rgerkin opened #216 "Move unit testing datasets elsewhere"
@JustasB The morphology unit tests are [currently failing](https://travis-ci.org/scidash/neuronunit/jobs/522179195) because the .swc file they rely on is not being found.  I think it is because it is not installed by pip, but just remains in the tarball.  It is technically possible to configure the MANIFEST.in file to install it somewhere, but another option is just to have it stored elsewhere in

[2019-04-20 20:31] #207 closed

[2019-04-21 00:12] JustasB commented on #216
Seems like two separate issues:

1) Build fix
The problem with the build had to do with not reverting to original working dir after `from neuron import h` failed on travis. i.e. [this line](https://github.com/scidash/neuronunit/pull/217/files#diff-6a7b1f2e49afcccfdf415a3a35d66882L33) did not get executed when neuron is not present, resulting in a cwd that was different from the expected repo root.

[2019-04-21 00:17] JustasB commented on #216
This may need a larger discussion in general. As NU grows and more tests are being included, how much of new tests should be included within "core NeuronUnit" and which ones should be separate packages that people install on top of core-NU. I don't have an answer, but part-of-core vs. separate come with their own sets of problems.

[2019-04-23 20:17] rgerkin commented on #216
@JustasB
Good catch on the fix.  Your solution to not having neuron import (and load mechanisms) is much better than mine.

Also, I guess I'm fine keeping the .swc file with the unit tests.  But there has to be some file size beyond which this policy is unreasonable.  Say anything > 10 MB should be stored externally, or anything > 1 MB if it is a non-diffable binary file expected to change.  The .

[2019-04-23 20:21] rgerkin commented on #215
Good idea.  I've just added weekly ones to master and dev branches of both sciunit and neuronunit.  I don't want to do daily at the moment since some of the external resources (like neuroelectro) time out periodically and I don't want to get an email every time this happens.

[2019-04-23 20:21] #215 closed

[2019-04-23 20:48] NeZanyat opened #218 "No units, observation and params schema in test"
Observations is required, but there is no schema for them, I can't show the UI without this schema. Same with units and params.

https://github.com/scidash/neuronunit/blob/dash/neuronunit/tests/channel.py#L15

[2019-04-23 22:14] JustasB commented on #216
I agree that we should keep the unit tests as small as reasonably possible. For morphology tests, I did put a extras flag for pyLMeasure: https://github.com/scidash/neuronunit/blob/dev/setup.py#L27

[2019-04-24 08:17] rgerkin commented on #218
Fixed in 510e18dbcd239629302a60c475fbb467a0267b43 and scidash/sciunit@41b2e38c45c0776727ab1f281a572b65be19cea1

[2019-04-24 13:41] NeZanyat opened #219 "Different score ReducedModel/InputResistanceTest"
Different score for couple:

[code]

Insufficient data score - One of the input values was NaN

[2019-04-24 21:50] rgerkin commented on #219
Are you saying that one of the prediction values is NaN or one of the observation values is NaN?  Why doesn't the observation provided to the InputResistanceTest have units?  And where are you getting the dt and tmax from (and why are they different from the values you used to simulated the model)?  Is your backend using them? @gidili

[2019-04-25 08:58] gidili commented on #219
Hi @rgerkin all good points - we are doing more troubleshooting today and will get back later on in the day. dt and tmax should be the same and they are user input fields in our case (that's where they are coming from). We tried with same values and still getting NaN errors during score calculation. We are now doing step by step comparison between running with notebook and with the other stack to

[2019-04-29 10:51] gidili commented on #218
Hey @rgerkin I see the commit are on dev, are they also merged into dash?

@NeZanyat can you test this after it's merged to dash branch and if so let us know if we can close the issue?

🙏

[2019-04-29 10:56] gidili commented on #219
Update on this @rgerkin - we are still on this, made some progress on troubleshooting but still in the weeds to understand the origin of the NaN, seems to be narrowed down to either results values arrays or differences between setting sciunit cache vs sciunit handling everything internally. We are also trying to use the jNeuroML backend in Geppetto but it really should not make a difference as it

[2019-04-29 10:58] gidili commented on #219
@rgerkin also I've noticed you are running these examples on the dev branch. We are running on the dash branch, would be good to merge everything and double check everything works the same there for you as well.

[2019-04-29 20:26] rgerkin commented on #218
Ah, sorry, dev is the most up to date.

[2019-04-29 20:33] rgerkin commented on #219
@gidili Dev has everything Dash has, and a bunch of other things.  I should have kept them separate but I think I accidentally did some Dash work on Dev branch a few weeks ago.  I could cherry-pick commits back to keep them separate, but now is as good a time as any to pull all of Dev into Dash.

Can we make our Tuesday meeting focused on tackling the bug you are experiencing?

[2019-04-29 21:24] rgerkin commented on #218
dash and dev are now identical as of this moment, so you can test in dash and see if any changed pulled in from dev have changed anything.

[2019-04-30 08:50] gidili commented on #219
@rgerkin we figured it out. Initially the problem there was that no default was provided for dt and tmax (or if so we couldn't find it) and we had to extract the correct timestep and tmax from the results in the notebook, that bit was easy to figure out but was the first hurdle.

**General question**: Is there some global defaults you are using in neuronunit for dt and tmax if the test doesn't pro

[2019-04-30 08:52] gidili commented on #219
@rgerkin about moving to dev, sounds good, but even though everything that was in dash is now in dev there might be stuff in dev that wasn't in dash that breaks stuff but hopefully not, we shall see anyway, this needed to happen at some point but I would suggest when we release scidash 1.0 you tag a version of dev or however you wanna do it so the app can keep using that regardless of what happen

[2019-05-07 05:24] rgerkin commented on #219
@gidili At some point this summer I will get the chance to push for the next sciunit and neuronunit release (for which I will need to increase code coverage and add more examples and documentation).  I don't expect it to be much different than what is there now, but that is what I'd like to tag scidash 1.0 against.

Is it possible to trigger scidash integration tests every time a commit is made to

[2019-05-07 09:04] gidili commented on #219
@rgerkin what we thinking to do for now is take a snapshot of sciunit/neuronunit development (via tag) and keep using that for the released version of scidash.

Upon releasing new versions we can create branches targeting new releases and the builds will run unit tests. We don't have any integration tests so far and unclear we are going to have time to write loads as we're slightly behind the last

[2019-05-08 05:14] #203 closed

[2019-05-08 05:15] rgerkin commented on #203
Implemented in #212.

[2019-05-08 05:15] #218 closed

[2019-05-31 14:54] NeZanyat opened #221 "ChannelModel class returns ReceivesSquareCurrent as failed capability for EGL-19.channel model"
Url to file https://raw.githubusercontent.com/openworm/ChannelWorm2/master/NML2_models/EGL-19.channel.nml

[2019-05-31 15:04] gidili commented on #221
@rgerkin this makes it impossible for us to create an instance of ChannelModel with this file. Something you can fix?

[2019-05-31 22:33] rgerkin commented on #221
@gidili

tl;dr I should just remove "ReceivesSquareCurrent" as a capability for this model class, because it isn't really even doing that!  It is just actually doing voltage steps.  And I'm not sure what those capability checks would even look like, see below:

I realize now that in order to run this I was using pyNeuroML's channel analyzer module, which takes this .nml file and wraps it with a LE

[2019-06-20 17:35] NeZanyat commented on #221
A bit more things:

1. backend parameter is missing here

https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/channel.py#L15

But it's required because in other case it will cause an error

2. We still have to remove this capability

https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/lems.py#L26

[2019-06-20 22:44] rgerkin commented on #221
@NeZanyat
I've implemented (1) in 94f3202 but I don't understand why (2) needs to be removed for  `ChannelModel` to work.  The `extra_capability_checks` only apply to capabilities claimed by the model, i.e. it will only fail if the a capability which is a key in `extra_capability_checks` is also a parent class of the model.  Since `ChannelModel` does not have `ReceivesSquareCurrent` as a capabilit

[2019-06-21 12:43] NeZanyat commented on #221
@rgerkin the thing is it's failing on failed_extra_capabilities, and I can fix it just with removing this capability check from LEMS model, so probably I formulated my point wrong. I'm just saying that it still fails.

[2019-06-21 13:11] gidili commented on #221
Hi @rgerkin ChannelModel itself doesn't have ReceivesSquareCurrent as a capability but inherits from LEMSModel that [does have it as an extra capability check](https://github.com/scidash/neuronunit/blob/dev/neuronunit/models/lems.py#L26), so we are still finding that capability showing up as a failed extra capability with the same model when we call [this method](https://github.com/scidash/sciunit

[2019-06-21 18:52] rgerkin commented on #221
@NeZanyat @gidili OK, I see.  `failed_extra_capabilities` was too strict.  `extra_capability_checks` may have many Capability:function mappings, but these should only be checked against Capabilities actually claimed by the model.  `LEMSModel.extra_capability_checks` provides such a mapping for `ReceivesSquareCurrent`, but if a model does not claim the `ReceivesSquareCurrent` capability than this c

[2019-06-22 09:10] gidili commented on #221
Thanks @rgerkin that'll definitely do it. We will give this a shot asap and report back! 🙏

[2019-07-01 17:52] rgerkin opened #222 "NeuroMLDBModel current amplitudes that are multiple of rheobase"
@JustasB
The code for loading waveforms by current amplitude has the following problem:

[code]

leads to:

[code]

Currents that are expressed as a multiple of rheobase will need their own handling.  Is the rheobase stored somewhere in the class or elsewhere in the database?  If so, I can add a conversion from "NUMxRB" to the true value.

[2019-07-02 03:01] russelljjarvis commented on #222
@rgerkin

I think you are using the wrong type of waveform/protocol combination.

If you use the logic below you can query the NML-DB server to get appropriate waveforms that are amenable to
[code]

[code]
https://github.com/russelljjarvis/neuronunit/blob/barcelona/get_allen_features_from_nml_db.py#L153-L169

[2019-07-02 03:31] rgerkin commented on #222
@russelljjarvis Justas had pointed me specifically to `get_waveform_by_current` so I was trying to produce a minimal example using that method.

[2019-07-02 03:40] russelljjarvis commented on #222
The code I am proposing uses `get_waveform_by_current` under the hood too.

[2019-07-02 04:12] rgerkin commented on #222
@russelljjarvis It does?  I see that `get_waveform_by_current` calls `get_waveform_current_amplitude` but not the other way around.  Is there somewhere else in your code where something that calls `get_waveform_by_current` is used?

[2019-07-02 04:49] russelljjarvis commented on #222
Sorry no, you are right. The functionality is there by I bypassed it, because I needed it to work with a different pre-existing code for querying the NML-DB waveforms.

These lines https://github.com/russelljjarvis/AllenDruckmannData/blob/master/dm_test_interoperable.py#L126-#L128

The code below is acting on a neuroml-db static backend model. Since I am supplying a pre-made model, and `models` ty

[2019-07-02 12:31] russelljjarvis commented on #222
https://github.com/russelljjarvis/AllenEFELDruckmanData/blob/master/get_allen_features_from_nml_db.py#L441-L446

[code]
This code works as an example.

[2019-07-02 16:06] JustasB commented on #222
It looks like I really need to add more documentation on the API. I'll work on that when I find spare moments.

For the question:

In this line:
https://github.com/scidash/neuronunit/blob/1c0e4b2221cc32938b39dbf4088cdc516a54d321/neuronunit/neuromldb.py#L38

the `data` variable will contain the contents of the model API call results e.g.
https://neuroml-db.org/api/model?id=NMLCL001129

For cell mod